

.lia {
  font-family: "Lato", sans-serif;
  font-size: 40px;
  font-weight: normal;
  color: #eee; }

.screen {
background: #1c1e20;
background: -moz-radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #555a5f), color-stop(100%, #1c1e20));
background: -webkit-radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
background: -o-radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
background: -ms-radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
background: radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
background-color: #2b2b2b;
}

.table_of_contents {
width: 200px;
float: left;
}


a.toc1 {
color: #fff;
margin: 10px 5px 10px 10px;
display: block;
text-decoration: none;
}

a.toc2 {
color: #fff;
margin: 10px 5px 10px 10px;
display: block;
text-decoration: none;
}

a.toc3 {
color: #fff;
margin: 10px 5px 10px 30px;
display: block;
text-decoration: none;
}

a.toc4 {
color: #fff;
margin: 10px 5px 10px 50px;
display: block;
text-decoration: none;
}

a.toc5 {
color: #fff;
margin: 10px 5px 10px 70px;
display: block;
text-decoration: none;
}

a.active {
color: #f00;
}



.button_slide {
width: calc(45% - 80px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 20px 0 20px 0;
  color: #eee;
  text-align: center;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
  word-wrap: break-word; }

h1 {
  font-size: 3.77em; }

h2 {
  font-size: 2.11em; }

h3 {
  font-size: 1.55em; }

h4 {
  font-size: 1em; }

h1 {
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.15); }

p {
  color: white;
}

pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 1.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  background-color: white;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

code {
  font-family: monospace; }

pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }
