@charset "UTF-8";

.<%= className %> {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1
}

.<%= className %>-lg {
  font-size: 1.33333em;
  line-height: .75em;
  vertical-align: -.0667em
}

.<%= className %>-xs {
  font-size: .75em
}

.<%= className %>-sm {
  font-size: .875em
}

.<%= className %>-1x {
  font-size: 1em
}

.<%= className %>-2x {
  font-size: 2em
}

.<%= className %>-3x {
  font-size: 3em
}

.<%= className %>-4x {
  font-size: 4em
}

.<%= className %>-5x {
  font-size: 5em
}

.<%= className %>-6x {
  font-size: 6em
}

.<%= className %>-7x {
  font-size: 7em
}

.<%= className %>-8x {
  font-size: 8em
}

.<%= className %>-9x {
  font-size: 9em
}

.<%= className %>-10x {
  font-size: 10em
}

.<%= className %>-fw {
  text-align: center;
  width: 1.25em
}

.<%= className %>-ul {
  list-style-type: none;
  margin-left: 2.5em;
  padding-left: 0
}

.<%= className %>-ul>li {
  position: relative
}

.<%= className %>-li {
  left: -2em;
  position: absolute;
  text-align: center;
  width: 2em;
  line-height: inherit
}

.<%= className %>-border {
  border: .08em solid #eee;
  border-radius: .1em;
  padding: .2em .25em .15em
}

.<%= className %>-pull-left {
  float: left
}

.<%= className %>-pull-right {
  float: right
}

.<%= className %>.<%= className %>-pull-left {
  margin-right: .3em
}

.<%= className %>.<%= className %>-pull-right {
  margin-left: .3em
}

.<%= className %>-spin {
  -webkit-animation: <%= className %>-spin 2s linear infinite;
  animation: <%= className %>-spin 2s linear infinite
}

.<%= className %>-pulse {
  -webkit-animation: <%= className %>-spin 1s steps(8) infinite;
  animation: <%= className %>-spin 1s steps(8) infinite
}

@-webkit-keyframes <%= className %>-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }

  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn)
  }
}

@keyframes <%= className %>-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }

  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn)
  }
}

.<%= className %>-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg)
}

.<%= className %>-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}

.<%= className %>-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg)
}

.<%= className %>-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1)
}

.<%= className %>-flip-vertical {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1)
}

.<%= className %>-flip-both, .<%= className %>-flip-horizontal.<%= className %>-flip-vertical, .<%= className %>-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)"
}

.<%= className %>-flip-both, .<%= className %>-flip-horizontal.<%= className %>-flip-vertical {
  -webkit-transform: scale(-1);
  transform: scale(-1)
}

:root .<%= className %>-flip-both, :root .<%= className %>-flip-horizontal, :root .<%= className %>-flip-vertical, :root .<%= className %>-rotate-90, :root .<%= className %>-rotate-180, :root .<%= className %>-rotate-270 {
  -webkit-filter: none;
  filter: none
}

.<%= className %>-stack {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  vertical-align: middle;
  width: 2.5em
}

.<%= className %>-stack-1x, .<%= className %>-stack-2x {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%
}

.<%= className %>-stack-1x {
  line-height: inherit
}

.<%= className %>-stack-2x {
  font-size: 2em
}

.<%= className %>-inverse {
  color: #fff
}

<% _.each(glyphs, function(glyph) { %>
.<%= className %>-<%= glyph.name.replace('-inwizard', '') %>:before {
  content: "\<%= glyph.unicode[0].charCodeAt(0).toString(16).toUpperCase() %>"
}
<% }) %>

@font-face {
  font-family: "<%= fontName %>";
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url(<%= fontPath %><%= fontName %>.eot);
  src: url(<%= fontPath %><%= fontName %>.eot?#iefix) format("embedded-opentype"),
  url(<%= fontPath %><%= fontName %>.woff2) format("woff2"),
  url(<%= fontPath %><%= fontName %>.woff) format("woff"),
  url(<%= fontPath %><%= fontName %>.ttf) format("truetype"),
  url(<%= fontPath %><%= fontName %>.svg#<%= fontName %>) format("svg");
  font-display: swap;
}

.<%= className %> {
  font-family: "<%= fontName %>";
  font-weight: 900
}