.lia-list {
  &--unordered,
  &--ordered {
    position: relative;
    padding-left: 2rem;
    margin-left: 2rem;

    ul,
    ol {
      margin-left: 0;
    }
  }

  &--unordered {
    list-style-type: none;

    > li {
      &:before {
        content: "\EA0D";
        font-family: "icon";
        color: rgb(var(--lia-turquoise));
        position: absolute;
        left: 0;
      }
    }

    ul li ul li {
      padding-left: 1rem;
      &:before {
        content: "\EA21";
      }
    }
  }

  &--ordered {
    > li {
      &::marker {
        color: rgb(var(--lia-turquoise));
      }

      span {
        position: relative;
        left: 1rem;
      }
    }
  }
}
