$btn-min-width: 3.6rem;
$btn-height: 3.6rem;

.lia-btn {
  border: none;
  color: currentColor;
  display: inline-block;
  line-height: $global-line-height;
  padding: 0.5rem 0.6rem 0.5rem 0.6rem;

  &--tag {
    border-radius: 0;
  }

  &--outline {
    color: rgb(var(--color-highlight));
    background-color: rgb(var(--color-background));
    border: 1px solid rgb(var(--color-highlight));
  }

  &--transparent {
    background-color: transparent;
    border: none;
  }

  &--hint {
    @include material-icon;
    text-decoration: none;
    vertical-align: middle;
  }

  > .lia-btn__icon {
    line-height: inherit;
    vertical-align: middle;
  }

  > .lia-btn__text {
    margin-left: 1rem;
  }
}

@mixin style-btn($theme) {
  .lia-btn {
    $bg: map-get($theme, primary);
    $fg: color-contrast($bg);

    &:not([disabled]) {
      background: $bg;
      color: $fg;

      &:hover {
        background: mix($bg, $fg, 80%);
      }
    }

    &--hint {
      color: map-get($theme, text);
    }

    &[disabled] {
      $fg: color-contrast(map-get($theme, background));

      background: rgba($fg, 0.12);
      color: rgba($fg, 0.38);
    }
  }
}
