@use '../00_settings/settings.global';

.lia-table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: auto;
  width: 100%;

  &-responsive {
    display: block;
    margin-bottom: 3rem;
    margin-block-end: 3rem;
    max-height: 80vh;
    overflow: auto;
    width: 100%;

    &.has-thead-sticky {
      .lia-table__head {
        position: -webkit-sticky;
        position: sticky;
        z-index: 3;

        th {
          position: -webkit-sticky;
          position: sticky;
          top: 0;
          z-index: 1;
        }
      }

      &.has-first-col-sticky {
        .lia-table__head th:first-child {
          left: 0;
          position: -webkit-sticky;
          position: sticky;
          z-index: 2;
        }

        .is-alternating {
          .lia-table__row:nth-child(2n) {
            td:first-child:before {
              background-color: rgb(var(--lia-grey-lighter));

              @at-root html.lia-variant-dark & {
                background-color: rgba(var(--lia-grey), 0.3);
              }
            }

            &:hover {
              td:first-child:before {
                background-color: rgba(var(--color-highlight), 0.1);

                @at-root html.lia-variant-dark & {
                  background-color: rgba(var(--color-highlight), 0.15);
                }
              }
            }
          }
        }
      }

      &.has-last-col-sticky {
        .lia-table__head th:last-child {
          right: 0;
          position: -webkit-sticky;
          position: sticky;
          z-index: 2;
        }

        .is-alternating {
          .lia-table__row:nth-child(2n) {
            td:last-child:before {
              background-color: rgb(var(--lia-grey-lighter));

              @at-root html.lia-variant-dark & {
                background-color: rgba(var(--lia-grey), 0.3);
              }
            }

            &:hover {
              td:last-child:before {
                background-color: rgba(var(--color-highlight), 0.1);

                @at-root html.lia-variant-dark & {
                  background-color: rgba(var(--color-highlight), 0.15);
                }
              }
            }
          }
        }
      }
    }

    &.has-first-col-sticky {
      .lia-table__data {
        &:first-child {
          border-left: settings.$global-border;
          border-inline-start: settings.$global-border;
          border-right: settings.$global-border;
          border-inline-end: settings.$global-border;
          left: 0;
          position: -webkit-sticky;
          position: sticky;
          z-index: 2;

          /* 
           * Fix layering and opacity problems if <tr> is hovered.
           * Makes sure that any <td> is not visible (behind first, sticky <td>)
           * if table is scrolled horizontally.
           */

          &:before,
          &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            // background-color: rgb(var(--color-background));
            height: 100%;
          }

          &:before {
            z-index: -1;
          }

          &:after {
            z-index: -2;
          }
        }
      }

      .lia-table__row:hover > td:first-child::before {
        background-color: rgba(var(--color-highlight), 0.1);
      }
    }

    &.has-last-col-sticky {
      .lia-table__data {
        &:first-child {
          border-right: settings.$global-border;
          border-inline-end: settings.$global-border;
        }

        &:last-child {
          border-left: settings.$global-border;
          border-inline-start: settings.$global-border;
          border-right: settings.$global-border;
          border-inline-end: settings.$global-border;
          right: 0;
          position: -webkit-sticky;
          position: sticky;
          z-index: 2;

          /* 
           * Fix layering and opacity problems if <tr> is hovered.
           * Makes sure that any <td> is not visible (behind first, sticky <td>)
           * if table is scrolled horizontally.
           */

          &:before,
          &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background-color: rgb(var(--color-background));
            height: 100%;
          }

          &:before {
            z-index: -1;
          }

          &:after {
            z-index: -2;
          }
        }
      }

      .lia-table__row:hover > td:last-child::before {
        background-color: rgba(var(--color-highlight), 0.1);
      }
    }
  }

  &__head {
    border-bottom: settings.$global-border;

    th {
      background-color: rgb(var(--color-background));
    }
  }

  &__row {
    td {
      background-color: rgb(var(--color-background));
    }

    &:first-of-type > td {
      border-top: 0;
    }

    &:last-child > td {
      border-bottom: settings.$global-border;
    }

    &:hover {
      background-color: rgba(var(--color-highlight), 0.05);

      > td {
        background-color: rgba(var(--color-highlight), 0.05);
      }
    }
  }

  &__header {
    position: relative;
    border-top: settings.$global-border;
    border-inline-start: settings.$global-border;
    border-left: settings.$global-border;
    border-inline-start: settings.$global-border;
    border-bottom: settings.$global-border;
    border-block-end: settings.$global-border;
    border-right: 0;
    border-inline-end: 0;
    padding: 1.3rem 3.2rem 1.3rem 1.6rem;

    &:first-child {
      border-left: settings.$global-border;
      border-inline-start: settings.$global-border;
      border-right: settings.$global-border;
      border-inline-end: settings.$global-border;
    }

    &:nth-child(2) {
      border-left: 0;
      border-inline-start: 0;
    }

    &:last-child {
      border-right: settings.$global-border;
      border-inline-end: settings.$global-border;
    }
  }

  &__data {
    border-top: settings.$global-border;
    border-block-start: settings.$global-border;
    border-left: settings.$global-border;
    border-inline-start: settings.$global-border;
    border-bottom: 0;
    border-block-end: 0;
    border-right: 0;
    border-inline-end: 0;
    padding: 1rem 3.2rem 1rem 1.6rem;

    &:last-child {
      border-right: settings.$global-border;
      border-inline-end: settings.$global-border;
    }

    .has-first-col-sticky {
      &:nth-child(2) {
        border-left: 0;
        border-inline-start: 0;
      }
    }
  }

  &__header,
  &__data {
    max-width: 50vw;
    min-width: 13.5rem;
    word-wrap: break-word;
  }

  &__sort {
    margin-left: auto;
    margin-inline-start: auto;
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translateY(-50%);

    &.active {
      color: rgb(var(--color-highlight));
    }
  }

  &.is-alternating {
    .lia-table__row:nth-child(2n) {
      td {
        background-color: rgba(var(--lia-grey-lighter));

        @at-root html.lia-variant-dark & {
          background-color: rgba(var(--lia-grey), 0.3);
        }
      }

      &:hover {
        td,
        td:last-child:before {
          background-color: rgba(var(--color-highlight), 0.05);

          @at-root html.lia-variant-dark & {
            background-color: rgba(var(--color-highlight), 0.1);
          }
        }
      }
    }
  }
}
