.lia-link {
  //
}

@mixin style-link($theme) {
  .lia-link {
    &:link {
      color: map-get($theme, primary);

      &:hover {
        color: lighten(map-get($theme, primary), 20%);
      }

      &:active {
        color: darken(map-get($theme, primary), 20%);
      }
    }

    &:visited {
      color: map-get($theme, secondary);

      &:hover {
        color: lighten(map-get($theme, secondary), 20%);
      }

      &:active {
        color: darken(map-get($theme, secondary), 20%);
      }
    }
  }
}
