:root {
  // Basic color definitions
  // Map $global-colors and define global color variables with prefix "lia".
  @each $color, $rgb in $global-colors {
    --lia-#{$color}: #{$rgb};
  }

  // Font-Size
  --global-font-size: 1.5rem;
  --font-size-multiplier: 1;

  // Max Editor Line Count
  --max-editor-line-count: 16;
}

// additional color definitions for default theme
:root {
  --color-background: var(--lia-white);
  --color-border: var(--lia-grey-light);
  --color-highlight-dark: var(--lia-turquoise-dark);
  --color-highlight-menu: var(--lia-turquoise);
  --color-highlight: var(--lia-turquoise);
  --color-text: var(--lia-anthracite);

  &.lia-theme-turquoise {
    --color-highlight-dark: var(--lia-turquoise-dark);
    --color-highlight-menu: var(--lia-turquoise-darker);
    --color-highlight: var(--lia-turquoise);
  }

  &.lia-theme-red {
    --color-highlight-dark: var(--lia-red-dark);
    --color-highlight-menu: var(--lia-red-darker);
    --color-highlight: var(--lia-red);
  }

  &.lia-theme-blue {
    --color-highlight-dark: var(--lia-blue-dark);
    --color-highlight-menu: var(--lia-blue-darker);
    --color-highlight: var(--lia-blue);
  }

  &.lia-theme-yellow {
    --color-highlight-dark: var(--lia-yellow-dark);
    --color-highlight-menu: var(--lia-yellow-darker);
    --color-highlight: var(--lia-yellow);
  }

  // dark theme
  &.lia-variant-dark {
    --color-background: var(--lia-grey-dark);
    --color-border: var(--lia-anthracite);
    --color-text: var(--lia-white);
  }

  //font sizes scaling
  &.lia-font-scale-2 {
    --font-size-multiplier: 1.25;
  }

  &.lia-font-scale-3 {
    --font-size-multiplier: 1.5;
  }
}
