.lia-input {
  max-width: 100%;
  width: 100%;
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

input[type="radio"],
input[type="checkbox"] {
  // hide the input but have it still be clickable
  opacity: 0;
  vertical-align: middle;
  position: absolute;
  width: calc(1em + #{$global-outline} * 2);
  height: calc(1em + #{$global-outline} * 2);
  margin-right: map-get($global-spacing, spacing-small);
}

input[type="radio"] + .lia-radio-btn,
input[type="checkbox"] + .lia-check-btn {
  margin: $global-outline;
  clear: none;
  vertical-align: middle;
  border: 0.5em solid;
  width: 1em;
  height: 1em;
  transition-property: background, box-shadow, border;
  transition-duration: 0.25s;
  transition-timing-function: ease-in;

  &:not([disabled]):hover {
    cursor: pointer;
  }
}

input[type="radio"] {
  & + .lia-radio-btn {
    display: inline-block;
    border-radius: 50%;
  }

  &:checked + .lia-radio-btn {
    border: 3px solid;
  }
}

input[type="checkbox"] {
  & + .lia-check-btn {
    @include material-icon("", inherit);
    font-weight: 600;
    overflow: hidden;
    border-radius: map-get($global-spacing, spacing-tiny);
  }

  &:checked + .lia-check-btn {
    border: 0px solid;
  }

  &[disabled]:checked + .lia-check-btn {
    border: 0px solid;
  }
}

@mixin style-input($theme) {
  $bg: map-get($theme, background);
  $fg: color-contrast($bg);
  $snd: map-get($theme, secondary);

  .lia-input {
    background: $bg;

    &:not([disabled]) {
      color: $fg;
    }

    &[disabled] {
      color: rgba($fg, 0.38);
    }

    &:focus {
    }
  }

  input[type="radio"] + .lia-radio-btn,
  input[type="checkbox"] + .lia-check-btn {
    border-color: $bg;
    background: $bg;
    box-shadow: 0 0 0 $global-outline mix($bg, $fg, 50%);
  }

  input[type="radio"]:checked + .lia-radio-btn,
  input[type="checkbox"]:checked + .lia-check-btn {
    box-shadow: 0 0 0 $global-outline $snd;
    background: $snd;
  }

  input[type="radio"][disabled]:checked + .lia-radio-btn,
  input[type="checkbox"][disabled]:checked + .lia-check-btn {
    $snd: rgba($fg, 0.38);
    background: $snd;
  }

  input[type="radio"] {
    &:checked + .lia-radio-btn {
      border-color: $bg;
    }

    &[disabled]:checked + .lia-radio-btn {
      box-shadow: 0 0 0 $global-outline $snd;
    }
  }

  input[type="checkbox"] {
    & + .lia-check-btn {
      color: color-contrast($snd);
    }

    &:checked + .lia-check-btn {
      border: 0px solid $snd;
    }

    &[disabled]:checked + .lia-check-btn {
      box-shadow: 0 0 0 $global-outline $snd;
      border-color: $snd;
    }
  }
}
