@use '../00_settings/settings.global';
@use '../01_tools/tools.breakpoints';

/* --------------------------------------------------
   Headline Settings
   -------------------------------------------------- */

/*
 * TODO: h1 für Darstellungsmodi (Presentation, Slides, Textbook) anpassen  
 */
$h1-desktop-presentation: 4rem;
$h1-desktop-slide: 4rem;
$h1-desktop-textbook: 3.7rem;
$h1-mobile: 2.3rem;

$h2-desktop: 2.9rem;
$h2-mobile: 2rem;

$h3-desktop: 2.3rem;
$h3-mobile: 1.8rem;

$h4-desktop: 1.6rem;
$h4-mobile: 1.6rem;

/* --------------------------------------------------
   Headlines
   -------------------------------------------------- */

h1,
h2,
h3 {
  font-family: settings.$global-font-headline;
  line-height: settings.$global-line-height;
}

h4,
h5 {
  font-family: settings.$global-font-family;
  line-height: 1.38;
}

h1 {
  font-size: calc(#{$h1-mobile} * var(--font-size-multiplier));

  @include tools.breakpoint('md') {
    font-size: calc(#{$h1-desktop-presentation} * var(--font-size-multiplier));

    @at-root .lia-mode--textbook & {
      font-size: calc(#{$h1-desktop-textbook} * var(--font-size-multiplier));
    }
  }
}

h2 {
  font-size: calc(#{$h2-mobile} * var(--font-size-multiplier));

  @include tools.breakpoint('md') {
    font-size: calc(#{$h2-desktop} * var(--font-size-multiplier));
  }
}

h3 {
  font-size: calc(#{$h3-desktop} * var(--font-size-multiplier));

  @include tools.breakpoint('md') {
    font-size: calc(#{$h3-desktop} * var(--font-size-multiplier));
  }
}

h4,
h5 {
  font-size: calc(#{$h4-mobile} * var(--font-size-multiplier));
}
