img {
  font-style: italic;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  max-height: 80vh;
}

figure {
  margin-bottom: 2rem;

  figcaption {
    margin: 1rem 0;
    max-width: inherit;
  }
}

.lia-video-wrapper,
.lia-iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.lia-iframe-wrapper {
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.lia-video-wrapper {
  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 80vh;
    max-width: 100%;
    border: 0;
  }
}
