[submodule "lia-localization"]
	path = lia-localization
	url = https://github.com/liaScript/lia-localization.git
[submodule "patches/elm-patch"]
	path = patches/elm-patch
	url = https://github.com/andre-dietrich/elm-patches
