[submodule "lia-localization"]
	path = lia-localization
	url = https://github.com/liaScript/lia-localization.git
[submodule "patches/elm-break-dom"]
	path = patches/elm-break-dom
	url = https://github.com/andre-dietrich/elm-break-dom
