@import "toc/toc.settings";
@import "toc/toc.content";

.lia-toc {
  @include flex(column, nowrap, flex-start, stretch, stretch);
  width: map-get($global-spacing, toc-width);
  position: relative;

  transition: max-width 0.2s ease-out;

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: map-get($global-spacing, spacing-small);
    top: map-get($global-spacing, toolbar-height);
    bottom: 0;
    right: 0;
    //cursor: ew-resize;
  }

  @include toc-settings;

  @include toc-content;
}

@mixin style-toc($theme) {
  .lia-toc {
    $bg: map-get($theme, background);
    $fg: color-contrast($bg);
    background: mix($bg, $fg, 95%);

    &::after {
      background: mix($bg, $fg, 80%);
    }

    @include style-toc-settings;
    @include style-toc-content;
  }
}
