.lia-toolbar {
  z-index: 1;
  flex: 0 0 auto;
  height: map-get($global-spacing, toolbar-height);

  .lia-left {
    order: 1;
  }

  .lia-spacer {
    order: 1;
    flex: 1 1 auto;
  }

  .lia-right {
    order: 2;
  }

  &--slide {
    @include flex(row, nowrap, flex-start, stretch, stretch);
    overflow-x: auto;

    & > * {
      flex-shrink: 0;
    }

    .lia-btn {
      @include material-icon("", 1em);
    }
  }

  &--toc {
    @include flex(column, nowrap, flex-start, stretch, stretch);

    input.lia-search {
      flex: 1 1 auto;
    }
  }
}

@mixin style-toolbar($theme) {
  .lia-toolbar {
    $bg: map-get($theme, primary);
    $fg: color-contrast($bg);

    background: $bg;
    color: $fg;

    .lia-btn {
      box-shadow: none;
      background: transparent;
      color: $fg;

      &:hover {
        background: mix(transparent, $fg, 80%);
      }

      .lia-ripple {
        background: $fg;
      }
    }

    .lia-input,
    .lia-select {
      background: $bg;
      border-bottom-color: mix($bg, $fg, 50%);

      &:not([disabled]) {
        color: $fg;
      }

      &[disabled] {
        color: rgba($fg, 0.38);
      }

      &:focus {
        border-bottom-color: $fg;
      }
    }

    &--toc {
      $bg: map-get($theme, primary);
      $fg: color-contrast($bg);

      input.lia-search {
        $placeholder: mix($bg, $fg, 40%);
      }
    }
  }
}
