@import "toc/toc.settings";
@import "toc/toc.content";

.lia-toc {
  display: flex;
  flex-direction: column;
  padding: 3rem 3rem 1rem;
  width: 315px;

  @include toc-settings;

  @include toc-content;
}

@mixin style-toc($theme) {
  .lia-toc {
    $bg: map-get($theme, background);
    $fg: color-contrast($bg);
    background: mix($bg, $fg, 95%);

    &::after {
      background: mix($bg, $fg, 80%);
    }

    @include style-toc-settings;
    @include style-toc-content;
  }
}
