.lia-gallery {
  display: flex;
  margin-bottom: 2rem;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  width: 100%;

  .lia-lightbox {
    flex: 0 0 25rem;
    scroll-snap-align: start;
  }

  .lia-figure__media {
    width: 25rem;
    height: 25rem;
    display: inline-block;
    background-color: rgba(black, 0.85);

    img,
    video,
    div {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }

    audio {
      width: 100%;
      height: 55%;
    }
  }

  > * {
    margin-right: 3.2rem;
  }
}
