@use 'sass:color';
@use 'sass:map';
@use '../01_tools/tools.color';

.lia-quote {
  background-color: rgba(var(--color-highlight), 0.15);
  padding: 2.4rem;

  &[cite] {
    padding: 2.4rem 4.8rem;
  }

  > *:last-child {
    margin-block-end: 0;
  }

  &__text {
    color: rgb(var(--color-highlight-dark));
    font-family: 'LiaSourceSerifPro';
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;

    @at-root html.lia-variant-dark & {
      color: rgb(
        from rgb(var(--color-highlight-dark)) calc(r * 4.8) calc(g * 4.8)
          calc(b * 4.8)
      );
    }
  }

  &__cite {
    display: block;
    font-style: normal;
    margin-block-start: 2rem;
    text-align: center;
  }

  &__alert {
    margin-block-start: 2rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;

    &-tip {
      border-left: 1rem solid #126229;
      // first paragraph should be red
      > :nth-child(1) {
        color: #126229;
      }
    }

    &-note {
      border-left: 1rem solid #0b5ebe;
      // first paragraph should be red
      > :nth-child(1) {
        color: #0b5ebe;
      }
    }

    &-important {
      border-left: 1rem solid #6e44ba;
      // first paragraph should be red
      > :nth-child(1) {
        color: #6e44ba;
      }
    }

    &-warning {
      border-left: 1rem solid #805f1d;
      // first paragraph should be red
      > :nth-child(1) {
        color: #805f1d;
      }
    }

    &-caution {
      border-left: 1rem solid #ba131e;
      // first paragraph should be red
      > :nth-child(1) {
        color: #ba131e;
      }
    }

    &-icon {
      width: 1.6rem;
      height: 1.6rem;
      flex-shrink: 0;
    }
  }
}



@mixin style-quote($theme) {
  .lia-quote {
    $info: map.get($theme, primary);
    $bg: color.mix(map.get($theme, background), $info, 90%);
    $fg: tools.color-contrast($bg);

    border-inline-start-color: $info;
    background: $bg;
    color: $fg;
    box-shadow: 8px 7px 0px color.mix($fg, $bg, 20%);
  }
}
