.lia-survey-matrix {
  &__header {
    padding: 1.3rem 1.6rem;
    border-block-start: 0;

    &:last-child {
      border-inline-end: 0;
    }

    &:first-child {
      border-inline-start: 0;
    }
  }

  &__data {
    padding: 1rem;
    border-block-start: 0;
    border-block-end: 0;

    &:not(:last-child) {
      padding: 2rem;
      text-align: center;
      max-width: 5rem;
    }
  }

  &__row {
    &:last-child > td {
      border-block-end: 0;
    }

    td:first-child {
      border-inline-start: 0;
    }

    td:last-child {
      max-width: 50rem;
      min-width: 20rem;
      border-inline-end: 0;
    }
  }
}
