@use '../00_settings/settings.global';
@use '../01_tools/tools.breakpoints' as b;
@use '../01_tools/tools.transition' as t;

.lia-pagination {
  display: inline-block;
  width: 100%;

  @include b.breakpoint('md') {
    margin-bottom: 2rem;
    margin-block-end: 2rem;
    width: auto;
  }
  @include b.breakpoint('lg') {
    margin-bottom: 0;
    margin-block-end: 0;
    margin-right: 2rem;
    margin-inline-end: 2rem;
    width: auto;
  }

  &__content {
    align-items: center;
    background: rgb(var(--color-highlight));
    color: white;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    font-size: 1.8rem;
    font-weight: 700;
    justify-content: space-between;

    @include b.breakpoint('md') {
      border-radius: settings.$global-radius;
      width: 15rem;
    }

    [dir='rtl'] & {
      .lia-btn__icon {
        transform: scaleX(-1);
        @include t.transition(transform, 0.3s, ease-out);
      }
    }
  }

  &__current {
    margin: 0 1rem;
  }
}
