@use '../00_settings/settings.global';
@use '../01_tools/tools.breakpoints';

$responsive-voice-hight: 7rem;

.lia-responsive-voice {
  align-items: flex-start;
  background-color: rgb(var(--lia-grey-light));
  color: rgb(var(--color-highlight));
  display: flex;
  flex-direction: column;
  //min-height: 6rem;
  justify-content: center;
  padding: 2rem;
  width: 100%;

  &__control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @include tools.breakpoint('xs') {
      justify-content: flex-start;
      width: auto;
    }
  }

  &__info {
    text-align: center;
  }

  @at-root html.lia-variant-dark & {
    background-color: rgb(var(--lia-anthracite));
  }

  @include tools.breakpoint('xs') {
    align-items: center;
    height: 7rem;
    flex-direction: row;
    padding: 0;
  }

  @include tools.breakpoint('md') {
    border-start-start-radius: settings.$global-radius;
    border-start-end-radius: settings.$global-radius;
  }
}
