.lia-effect {
  &__content {
    display: block;
  }

  &__circle {
    background-color: rgb(var(--color-highlight));
    border-radius: 50%;
    color: rgb(var(--lia-white));
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 400;
    height: 2rem;
    line-height: 1.3;
    position: absolute;
    text-align: center;
    transform: translateX(-124%);
    width: 2rem;

    &.animated {
      left: 2.5rem * -1.5;
    }

    &--inline {
      position: relative;
      width: 1.8rem;
      height: 1.8rem;
      font-size: 1.2rem;
      line-height: initial;
      transform: none;

      &.animated {
        left: 1.8rem * -1.5;
      }
    }
  }

  &--inline {
    display: inline-block;
  }
}
