@use 'sass:color';
@use 'sass:map';
@use '../01_tools/tools.color';

.lia-quote {
  background-color: rgba(var(--color-highlight), 0.15);
  padding: 2.4rem;

  &[cite] {
    padding: 2.4rem 4.8rem;
  }

  > *:last-child {
    margin-block-end: 0;
  }

  &__text {
    color: rgb(var(--color-highlight-dark));
    font-family: 'LiaSourceSerifPro';
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;

    @at-root html.lia-variant-dark & {
      color: rgb(
        from rgb(var(--color-highlight-dark)) calc(r * 4.8) calc(g * 4.8)
          calc(b * 4.8)
      );
    }
  }

  &__cite {
    display: block;
    font-style: normal;
    margin-block-start: 2rem;
    text-align: center;
  }
}

@mixin style-quote($theme) {
  .lia-quote {
    $info: map.get($theme, primary);
    $bg: color.mix(map.get($theme, background), $info, 90%);
    $fg: tools.color-contrast($bg);

    border-inline-start-color: $info;
    background: $bg;
    color: $fg;
    box-shadow: 8px 7px 0px color.mix($fg, $bg, 20%);
  }
}
