$controlHeight: 4rem;

.lia-modal {
  top: 0;
  left: 0;
  position: fixed;
  z-index: 9000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
  width: 100vw;
  height: 100vh;
  color: white;

  &__outer {
    background-color: rgba(0, 0, 0, 0.9);
    width: 100vw;
    height: 100vh;
    position: absolute;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
    position: absolute;
    height: 100%;

    @include breakpoint("sm") {
      height: auto;
    }
  }

  &__close,
  &__controls {
    padding: 0 0.5rem;
  }

  &__close {
    height: $controlHeight;
    position: sticky;
    text-align: right;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include breakpoint("sm") {
      position: absolute;
      top: 0.5rem;
      right: 1rem;
      margin: 0;
    }
  }

  &__controls {
    color: white;
    display: flex;
    flex-direction: row-reverse;
    font-size: 2rem;
    justify-content: space-between;
    width: 100%;
    height: $controlHeight;

    @include breakpoint("sm") {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__ctrl-next {
    right: 0;

    @include breakpoint("sm") {
      right: 1rem;
    }
  }

  &__ctrl-prev {
    left: 0rem;

    @include breakpoint("sm") {
      left: 1rem;
    }
  }

  &__content {
    display: flex;
    height: auto;
    justify-content: center;
    max-height: 100%;
    overflow-y: auto;

    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    &::-webkit-scrollbar {
      display: none;
    }

    width: 100vw;

    @include breakpoint("sm") {
      width: calc(100vw - (2 * 5rem));
      max-width: 100vw;
      margin: 1rem 5rem;

      figcaption {
        padding: 0;
      }
    }

    > * {
      margin: 0;
    }
  }

  .lia-figure {
    height: 100%;
    flex: 1;

    &__media {
      display: flex;
      align-items: center;
      justify-content: center;
      //height: 100%;
      max-height: calc(100vh - (2 * #{$controlHeight}));

      @include breakpoint("sm") {
        max-height: calc(100vh - (2 * #{$controlHeight}));
      }
    }

    figcaption {
      padding: 0 1rem;
      max-width: 65ch;
      margin: 1rem auto;

      @include breakpoint("sm") {
        padding: 0;
      }
    }
  }

  .lia-video-wrapper {
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;

    video {
      position: relative;
      width: auto;
      height: auto;
      //max-height: 100vh;
    }
  }

  .lia-iframe-wrapper {
    flex: 1;

    iframe {
      max-height: 100vh;
    }
  }
}
