.nav {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;

    &__item {
        align-items: center;
        cursor: pointer;
        display: flex;
        padding: 0 .5rem;
        position: relative;

        > .lia-btn__icon {
            font-size: 2rem;
        }
    }

    &__divider {
        margin: 1rem 0;
    }
}