.lia-slide {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  width: 100%;

  &__footer {
    align-items: flex-start;
    bottom: 1rem;
    display: flex;
    flex-direction: column;
    margin: 3rem 0;
    padding: 0 3rem;
    position: relative;
  }

  &__content {
    height: 100%;
    margin-top: $header-height-mobile;
    max-height: 80vh;
    max-width: 1200px;
    overflow: hidden auto;
    padding: 3rem;
    position: relative;
    width: 100%;

    @include breakpoint("md") {
      margin-top: $header-height-desktop;
    }
  }
}
