.lia-slide-animation {
  margin-left: 4px;
  padding-left: 5px;
  margin-right: 4px;
  padding-right: 5px;
  padding-inline: 5px;
  margin-inline: 4px;

  overflow-y: auto;
  transition: max-height 0.2s ease-out;
}
