.lia-script {
  border-radius: $global-radius;
  display: inline-flex;
  overflow: hidden;
  vertical-align: middle;
  background-color: rgba(var(--color-highlight), 0.1);

  &--with-border {
    border: 1px solid rgb(var(--color-highlight));
  }

  &--border {
    border: 1px solid rgb(var(--color-highlight));
  }

  &__refresh {
    background-color: rgb(var(--lia-grey-light));
    border-bottom: 0;
    border-left: 0;
    border-radius: 0;
    border-right: 1px solid rgb(var(--color-highlight));
    border-top: 0;
    color: rgb(var(--lia-anthracite));
  }

  > * {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  input,
  select,
  textarea {
    border: none;
    border-radius: 0;
    background-color: transparent;
  }

  input[type="color"] {
    width: 10rem;
    height: auto;
    -webkit-appearance: none;
    border: none;

    &::-webkit-color-swatch-wrapper {
      padding: 0;
    }

    &::-webkit-color-swatch {
      border: none;
    }
  }

  textarea {
    min-width: 25vw;
    max-width: 50vw;
    resize: vertical;
    min-height: 5rem;
  }

  output {
    align-items: center;
    background-color: rgb(var(--lia-anthracite));
    border-left: 1px solid rgb(var(--color-highlight));
    color: rgb(var(--lia-white));
    display: flex;
    padding: 0rem 0.5rem;
    width: 100%;

    i {
      margin-right: 0.5rem;
    }
  }
}

output.lia-script {
  padding: 0rem 0.5rem;
  cursor: pointer;

  i {
    display: none;
  }
}
