.lia-effect-circle {
    $effect-circle-size: 1 + map-get($global-spacing, spacing-normal);

    position: absolute;
    left: 0.2em;
    display: inline-block;
    width: $effect-circle-size;
    height: $effect-circle-size;
    border-radius: $effect-circle-size;
    text-align: center;
    vertical-align: middle;
    padding: map-get($global-spacing, spacing-tiny);

    &.animated {
      left: $effect-circle-size * -1.5;
    }
  }

  .lia-effect-circle-inline {
    $effect-circle-size: 1 + map-get($global-spacing, spacing-small);

    display: inline-block;
    width: $effect-circle-size;
    height: $effect-circle-size;
    border-radius: $effect-circle-size;
    text-align: center;
    vertical-align: middle;
    padding: map-get($global-spacing, spacing-tiny);

    &.animated {
      left: $effect-circle-size * -1.5;
    }
  }

  @mixin style-effect-circle($theme) {
    .lia-effect-circle {
        $bg: mix(
          map-get($theme, background),
          map-get($theme, background-inv),
          80%
        );
        background: $bg;
        color: color-contrast($bg);
      }

      .lia-effect-circle-inline {
        $bg: mix(
          map-get($theme, background),
          map-get($theme, background-inv),
          80%
        );
        background: $bg;
        color: color-contrast($bg);
      }
  }