.lia-script {
  padding: 2px 6px 2px 6px;
  border-radius: 10px;

  &-with-border {
    border: 1px solid;
    padding: 2px 6px 2px 6px;
    border-radius: 10px;

    &:hover {
      border: 2px solid;
      margin-left: -1px;
      margin-right: -1px;
    }
  }

  &-border {
    border: 1px solid;
    padding: 2px 6px 2px 6px;
    border-radius: 10px;

    &:hover {
      border: 2px solid;
      margin-left: -1px;
      margin-right: -1px;
    }
  }
}

@mixin style-script($theme) {
  .lia-script {
    background: mix(map-get($theme, background), #888, 80%);

    &-with-border {
      background: mix(map-get($theme, background), #888, 80%);
      border-color: map-get($theme, primary);

      &:hover {
        border-color: 2px solid map-get($theme, primary);
      }
    }

    &-border {
      border-color: 1px solid map-get($theme, primary);

      &:hover {
        border-color: 2px solid map-get($theme, primary);
      }
    }
  }
}
