.lia-slide {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  position: relative;
  width: 100%;

  &__footer {
    align-items: flex-start;
    bottom: 1rem;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    position: absolute;
  }

  &__content {
    height: 85vh;
    padding: 1rem 1rem 0 0;
    position: relative;
    overflow: auto;
    width: 100%;
    max-width: 1200px;

    @include breakpoint("l") {
      //max-width: ;
    }
  }
}
