@use 'sass:color';
@use 'sass:map';
@use '../01_tools/tools.color';

.lia-quote {
  background-color: rgba(var(--color-highlight), 0.15);
  padding: 2.4rem;

  &[cite] {
    padding: 2.4rem 4.8rem;
  }

  > *:last-child {
    margin-block-end: 0;
  }

  &__text {
    color: rgb(var(--color-highlight-dark));
    font-family: 'LiaSourceSerifPro';
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;

    @at-root html.lia-variant-dark & {
      color: rgb(
        from rgb(var(--color-highlight-dark)) calc(r * 4.8) calc(g * 4.8)
          calc(b * 4.8)
      );
    }
  }

  &__cite {
    display: block;
    font-style: normal;
    margin-block-start: 2rem;
    text-align: center;
  }

  &__alert {
    margin-block-start: 2rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;

    &-tip {
      $c: #126229;

      border-left: 1rem solid $c;
      > :nth-child(1) {
        display: flex;
        align-items: center;
        color: $c;
      }
      @at-root html.lia-variant-dark & {
        border-left-color: color.scale($c, $lightness: 50%);
        > :nth-child(1) {
          color: color.scale($c, $lightness: 50%);
        }
      }
    }

    &-note {
      $c: #0b5ebe;

      border-left: 1rem solid $c;
      > :nth-child(1) {
        display: flex;
        align-items: center;
        color: $c;
      }
      @at-root html.lia-variant-dark & {
        border-left-color: color.scale($c, $lightness: 60%);
        > :nth-child(1) {
          color: color.scale($c, $lightness: 60%);
        }
      }
    }

    &-important {
      $c: #6e44ba;

      border-left: 1rem solid $c;
      > :nth-child(1) {
        display: flex;
        align-items: center;
        color: $c;
      }
      @at-root html.lia-variant-dark & {
        border-left-color: color.scale($c, $lightness: 60%);
        > :nth-child(1) {
          color: color.scale($c, $lightness: 60%);
        }
      }
    }

    &-warning {
      $c: #805f1d;

      border-left: 1rem solid $c;
      > :nth-child(1) {
        display: flex;
        align-items: center;
        color: $c;
      }
      @at-root html.lia-variant-dark & {
        border-left-color: color.scale($c, $lightness: 60%);
        > :nth-child(1) {
          color: color.scale($c, $lightness: 60%);
        }
      }
    }

    &-caution {
      $c: #ba131e;

      border-left: 1rem solid $c;
      > :nth-child(1) {
        display: flex;
        align-items: center;
        color: $c;
      }
      @at-root html.lia-variant-dark & {
        border-left-color: color.scale($c, $lightness: 60%);
        > :nth-child(1) {
          color: color.scale($c, $lightness: 60%);
        }
      }
    }

    &-icon {
      margin-right: 0.8rem;
    }
  }
}



@mixin style-quote($theme) {
  .lia-quote {
    $info: map.get($theme, primary);
    $bg: color.mix(map.get($theme, background), $info, 90%);
    $fg: tools.color-contrast($bg);

    border-inline-start-color: $info;
    background: $bg;
    color: $fg;
    box-shadow: 8px 7px 0px color.mix($fg, $bg, 20%);
  }
}
