@use '../01_tools/tools.breakpoints';

.lia-card {
  background-color: rgb(var(--color-background));
  border: 0.4rem solid rgb(var(--color-highlight));
  display: flex;
  flex-direction: column;
  position: relative;
  color: rgb(var(--color-text));
  margin-block-start: 2rem;

  &__logo {
    @media (max-width: 240px) {
      display: none;
    }
  }

  &__icon {
    height: 3rem;
    object-fit: cover;
    width: 3rem;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    border-radius: 50%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2rem 0 1rem 0;

    @include tools.breakpoint-only('sm', 'md') {
      margin-block-start: 4rem;
      height: auto;
      padding-block-start: 0;
    }
  }

  &__version {
    position: absolute;
    left: 1rem;
    top: -1rem;

    [dir='rtl'] & {
      left: auto;
      right: 1rem;
    }

    > *:not(:last-child) {
      margin-inline-end: 1rem;
    }

    @media (max-width: 360px) {
      font-size: xx-small;
    }
  }

  &__header {
    padding: 0 2.4rem;
  }

  &__title {
    display: inline-block;
    margin: 0 0 2rem;
    position: relative;

    &:before {
      background-color: rgb(var(--color-highlight));
      bottom: -0.5rem;
      content: '';
      height: 1px;
      position: absolute;
      width: 80%;
    }
  }

  &__controls {
    display: flex;
    justify-content: center;
    margin: auto 2.4rem 1rem;
    font-size: 1.8rem;

    @media (max-width: 240px) {
      margin: 0px 2rem;
    }

    @media (max-width: 310px) {
      > *:nth-child(3) {
        display: none;
      }
    }

    @media (max-width: 360px) {
      > *:nth-child(4) {
        display: none;
      }
    }

    > *:not(:last-child) {
      margin-inline-end: 1rem;

      &:hover {
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
      }
    }

    > *:last-child {
      margin-inline-start: auto;

      &:hover {
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
      }
    }
  }

  &__subtitle {
    color: rgb(var(--lia-anthracite));
    margin: 0 0 1rem;
  }

  &__body {
    padding: 0 2.4rem;
    margin-block-end: 1rem;

    @media (max-width: 240px) {
      hyphens: auto;
      overflow-wrap: break-word; /* Optional, depending on your needs */
    }
  }

  &__footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 2.4rem;

    @media (max-width: 240px) {
      display: none;
    }
  }

  &__author {
    color: grey;
    text-decoration: none;
    font-size: small;
  }
}
