@use '../00_settings/settings.global';
@use '../01_tools/tools.breakpoints';
@use '../04_objects/objects.canvas' as canvas;

.lia-notes {
  background-color: rgb(var(--lia-grey-light));
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 14.2rem;
  max-width: 144rem;
  overflow: auto;
  position: relative;
  width: canvas.$notes-width-mobile;

  @at-root html.lia-variant-dark & {
    background-color: rgb(var(--lia-anthracite));
  }

  @include tools.breakpoint('sm') {
    height: calc(14.2rem - 7rem);
  }

  @include tools.breakpoint('md') {
    margin: 0 3rem;
  }

  @include tools.breakpoint('lg') {
    background-color: transparent;
    height: auto;
    margin: 0;
    max-height: 100%;
    width: 100%;
  }

  &__content {
    background-color: rgb(var(--lia-grey-light));
    padding: 0 2.3rem 2.3rem;

    @at-root html.lia-variant-dark & {
      background-color: rgb(var(--lia-anthracite));
    }

    @include tools.breakpoint('lg') {
      padding-top: 2.3rem;
      padding-block-start: 2.3rem;
    }

    &:nth-child(2n) {
      padding: 0 2.3rem;
    }

    &:last-child {
      padding-bottom: 2.3rem !important;
      padding-block-end: 2.3rem !important;
    }

    &.active {
      color: rgb(var(--color-highlight));
    }

    > *:last-child {
      margin-bottom: 0;
      margin-block-end: 0;
    }
  }

  &__counter {
    border-bottom: 1px solid rgb(var(--lia-grey));
    border-block-end: 1px solid rgb(var(--lia-grey));
    color: rgb(var(--lia-grey));
    display: inline-block;
    margin-bottom: 0.5rem;
    margin-block-end: 0.5rem;
  }

  @include tools.breakpoint('lg') {
    border-left: settings.$global-border;
    border-inline-start: settings.$global-border;
    max-width: canvas.$notes-width-desktop;
  }
}
