$header-height-desktop: 7.8rem;
$header-height-mobile: 5.6rem;

.lia-header {
  align-items: center;
  background-color: white;
  border-bottom: $global-border;
  display: flex;
  flex-direction: row;
  height: $header-height-mobile;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: $global-transition;
  z-index: 100;

  @include breakpoint("md") {
    height: $header-height-desktop;
    margin: 0 3rem;
  }

  > * {
    flex: 1;
  }

  &__logo {
    //
  }

  &__left {
    //
  }

  &__middle {
    display: flex;
    height: 100%;
    justify-content: center;
  }

  &__right {
    position: relative;
  }
}

@mixin style-header($theme) {
  .lia-header {
  }
}
