.lia-dropdown {
  border: 1px solid rgb(var(--color-highlight));
  display: inline-block;
  cursor: pointer;
  overflow: hidden;

  &__selected {
    display: flex;
    align-items: center;

    span {
      margin-inline-end: auto;
    }

    .icon {
      font-size: 2rem;
      margin-inline-start: 2rem;
    }
  }

  &__options {
    overflow-y: auto;
    max-height: 0;

    &.is-visible {
      max-height: 20rem;
    }
  }

  &__option {
    padding: 0.5rem 1rem;

    &:first-child {
      margin-block-start: 1rem;
    }

    &:not(:last-child) {
      margin-block-end: 1rem;
    }

    &:hover {
      background-color: rgba(var(--color-highlight), 0.1);
    }
  }

  &.is-disabled {
    border-color: rgb(var(--lia-grey));
  }

  &.is-failure {
    border-color: rgb(var(--lia-red));
  }

  &.is-success {
    border-color: rgb(var(--lia-success));
  }
}
