.lia-slide {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  width: 100%;

  &__footer {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    max-width: 144rem;
    width: 100%;
    z-index: 50;

    @include breakpoint("md") {
      padding: 0 3rem;
      align-items: center;
    }

    @include breakpoint("lg") {
      align-items: flex-start;
      flex-direction: row;
    }
  }

  &__container {
    //margin-top: calc(#{$header-height-mobile});
    height: 100%;
    overflow: auto;
    position: relative;
  }

  &__content {
    max-width: 144rem;
    padding: 0 3rem;
    width: 100%;

    @include breakpoint("md") {
      margin: calc(#{$header-height-desktop}) 0 2rem;
    }
  }
}
