@use "sass:color";
@use "sass:map";
@use "../00_settings/settings.global";

.lia-accordion {
  &__item {
  }

  &__header {
    background-color: rgb(var(--color-highlight));
    display: flex;
    align-items: center;
    padding-left: 0.25rem;
  }

  &__headline {
    color: rgb(var(--lia-white));
    margin: 0 auto 0 0;
    font-size: 1.5rem;
    font-family: settings.$global-font-family;
  }

  &__content {
    //
  }

  &__toggle {
    color: rgb(var(--lia-white));
    font-size: 2rem;
  }
}

@mixin style-accordion($theme) {
  .lia-accordion {
    $bg: map.get($theme, primary);
    $fg: map.get($theme, background);
    $rd: map.get(settings.$global-spacing, spacing-small);

    background-color: $bg;
    color: $fg;

    .lia-accordion-min-max {
      .active,
      &:hover {
        background-color: color.mix($bg, $fg, 50%);
      }
    }

    .active,
    &:hover {
      background-color: color.mix($bg, $fg, 80%);
    }
  }

  .lia-accordion-dummy {
    $bg: map.get($theme, primary);
    $fg: map.get($theme, background);
    $rd: map.get(settings.$global-spacing, spacing-small);

    background-color: $bg;
    color: $fg;
  }
}
