.lia-card {
  background-color: rgb(var(--color-background));
  border: 1px solid rgb(var(--color-highlight));
  display: flex;
  flex-direction: column;
  position: relative;
  color: rgb(var(--color-text));

  @include breakpoint-only('sm', 'md') {
    display: grid;
    grid-template-columns: 40% 1fr;
  }

  &__media {
    @media (max-width: 360px) {
      display: none;
    }
  }

  &__logo {
    height: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2rem 0;

    @include breakpoint-only('sm', 'md') {
      margin-top: 4rem;
      height: auto;
      padding-top: 0;
    }
  }

  &__aside {
    @include breakpoint-only('sm', 'md') {
      height: 100%;
    }
  }

  &__figure {
    margin: 0;
    height: 20rem;
    width: 100%;

    @include breakpoint-only('sm', 'md') {
      height: 100%;
    }
  }

  &__image {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &__version {
    position: absolute;
    right: 2.4rem;
    top: -1px;

    > *:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__header {
    padding: 0 2.4rem;
  }

  &__title {
    display: inline-block;
    margin: 0 0 2rem;
    position: relative;

    &:before {
      background-color: rgb(var(--color-highlight));
      bottom: -0.5rem;
      content: '';
      height: 1px;
      position: absolute;
      width: 80%;
    }
  }

  &__controls {
    display: flex;
    justify-content: center;
    margin: auto 2.4rem 2rem;
    font-size: 1.8rem;

    @media (max-width: 360px) {
      margin: 0px 2rem;
    }

    > *:not(:last-child) {
      margin-right: 1rem;
    }

    > *:last-child {
      margin-left: auto;
    }
  }

  &__subtitle {
    color: rgb(var(--lia-anthracite));
    margin: 0 0 1rem;
  }

  &__body {
    padding: 0 2.4rem;
    margin-bottom: 2rem;

    @media (max-width: 360px) {
      hyphens: auto;
      overflow-wrap: break-word; /* Optional, depending on your needs */
    }
  }

  &__copy {
    //
  }

  &__footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 2.4rem;
    max-height: 5rem;

    @media (max-width: 360px) {
      display: none;
    }
  }

  &__contact {
    color: #399193;
    text-decoration: none;

    i {
      font-size: 2rem;
    }
  }
}
