$global-spacing: (
  spacing-huge: 2rem,
  spacing-large: 1rem,
  spacing-normal: 0.5rem,
  spacing-icon: 0.4rem,
  spacing-small: 0.25rem,
  spacing-smaller: 0.125rem,
  spacing-tiny: 0.075rem,
  toolbar-height: 3rem,
  toc-width: 16.5rem,
  code-size: 0.9rem,
);

$global-font: "Roboto", sans-serif;
$global-font-mono: "Roboto Mono", monospace;

$global-outline: 2.5px;
