@use 'sass:math';
@use 'sass:meta';
@use '../00_settings/settings.global';

@mixin transition(
  $property: settings.$global-transition-property,
  $speed: settings.$global-transition-speed,
  $timing-function: settings.$global-transition-timing-function,
  $delay: settings.$global-transition-delay
) {
  $p: null;
  $s: null;
  $t: null;
  $d: null;

  @if ($property) {
    @if meta.type-of($property) == string {
      $p: $property;
    } @else {
      @warn "Make sure that `$property` is a string.";
    }
  } @else {
    $p: settings.$global-transition-property;
  }

  @if ($speed) {
    @if math.is-unitless($speed) {
      $s: $speed + 0ms;
    } @else {
      $s: $speed;
    }
  } @else {
    $s: settings.$global-transition-speed;
  }

  @if ($timing-function) {
    $t: $timing-function;
  } @else {
    $t: settings.$global-transition-timing-function;
  }

  @if ($delay) {
    @if math.is-unitless($delay) {
      $d: $delay + 0ms;
    } @else {
      $d: $delay;
    }
  } @else {
    $d: settings.$global-transition-delay;
  }

  transition: $p $s $t $d;
}
