/* Alignment */

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* Font-Weight */

.font-400 {
  font-weight: 400;
}

/* Text-Color */
.text-debug {
  color: deepskyblue;
}

.text-info {
  color: rgb(var(--lia-white));
}

.text-warning {
  color: #fce3a3;
  background-color: rgba(yellow, 0.15);
}

.text-error {
  color: #ffb4d3;
  background-color: rgba(red, 0.15);
}

.text-disabled {
  color: rgb(var(--lia-grey));
}

.text-success {
  color: rgb(var(--lia-success));
}
