@mixin toc-settings {
  .lia-settings {
    border-top: map-get($global-spacing, spacing-small) solid;

    &__theme-colors {
      margin: 0px;
      padding: 0px;
      float: left;
      width: 100%;

      label {
        float: left;
        width: 91px;
        height: 34px;
        margin: 4px;
        border-radius: 4px;
        border: 0px;
        overflow: auto;

        span {
          text-align: center;
          padding: 8px 0px;
          display: block;
        }

        input {
          position: absolute;
          top: -9px;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

@mixin style-toc-settings {
  .lia-settings {
    border-top-color: mix($fg, $bg, 20%);

    &__theme-colors {
      label {
        background-color: #efefef;
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
          0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

        &:hover {
          background: #404040;
          color: #f7f7f7;
        }

        &:active {
          box-shadow: -1px -1px 1px #fff;
        }
      }

      input:checked + span {
        background-color: #404040;
        color: #f7f7f7;
      }

      .default {
        background-color: #3f51b5;
        color: #333;
      }

      .amber {
        background-color: #ffc107;
        color: #333;
      }

      .blue {
        background-color: $color-blue-1;
        color: #fff;
      }

      .green {
        background-color: #4caf50;
        color: #333;
      }

      .gray {
        background-color: #607d8b;
        color: #333;
      }

      .purple {
        background-color: #673ab7;
        color: #333;
      }

      .turquoise {
        background-color: $color-turquoise-1;
        color: #fff;
      }

      .red {
        background-color: $color-red-1;
        color: #fff;
      }

      .yellow {
        background-color: $color-yellow-1;
        color: #fff;
      }
    }
  }
}
