@import "material";
@import "lia";

$fg: material-color('blue-grey', '900');
$bg: material-color('blue-grey', '50');

$theme: (
    text: $fg,
    text-inv: $bg,
    background: $bg,
    background-inv: $fg,
    primary: material-color('deep-purple', '500'),
    secondary: material-color('pink', '500'),
    success: material-color('green', '500'),
    info: material-color('blue', '500'),
    warning: material-color('yellow', '500'),
    error: material-color('red', '500'),
    highlight-weight: normal,
);

@include create-theme($theme, purple);
