@import "material";
@import "lia";

$fg: material-color('grey', '900');
$bg: material-color('grey', '50');

$theme: (
    text: $fg,
    text-inv: $bg,
    background: $bg,
    background-inv: $fg,
    primary: $color-red-1,
    secondary: $color-red-2,
    success: $color-success,
    info: material-color('blue', '500'),
    warning: $color-warning,
    error: material-color('red', '500'),
    highlight-weight: normal,
);

@include create-theme($theme, red);
