
$fg: material-color('grey', '900');
$bg: white;

$theme: (
    text: $fg,
    text-inv: $bg,
    background: $bg,
    background-inv: $fg,
    primary: $color-yellow-1,
    secondary: $color-yellow-2,
    success: $color-success,
    info: material-color('blue', '500'),
    warning: $color-warning,
    error: material-color('red', '500'),
    highlight-weight: normal,
);

@include create-theme($theme, yellow);
