@charset "UTF-8";

.icon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1
}

.icon-lg {
  font-size: 1.33333em;
  line-height: .75em;
  vertical-align: -.0667em
}

.icon-xs {
  font-size: .75em
}

.icon-sm {
  font-size: .875em
}

.icon-1x {
  font-size: 1em
}

.icon-2x {
  font-size: 2em
}

.icon-3x {
  font-size: 3em
}

.icon-4x {
  font-size: 4em
}

.icon-5x {
  font-size: 5em
}

.icon-6x {
  font-size: 6em
}

.icon-7x {
  font-size: 7em
}

.icon-8x {
  font-size: 8em
}

.icon-9x {
  font-size: 9em
}

.icon-10x {
  font-size: 10em
}

.icon-fw {
  text-align: center;
  width: 1.25em
}

.icon-ul {
  list-style-type: none;
  margin-left: 2.5em;
  padding-left: 0
}

.icon-ul>li {
  position: relative
}

.icon-li {
  left: -2em;
  position: absolute;
  text-align: center;
  width: 2em;
  line-height: inherit
}

.icon-border {
  border: .08em solid #eee;
  border-radius: .1em;
  padding: .2em .25em .15em
}

.icon-pull-left {
  float: left
}

.icon-pull-right {
  float: right
}

.icon.icon-pull-left {
  margin-right: .3em
}

.icon.icon-pull-right {
  margin-left: .3em
}

.icon-spin {
  -webkit-animation: icon-spin 2s linear infinite;
  animation: icon-spin 2s linear infinite
}

.icon-pulse {
  -webkit-animation: icon-spin 1s steps(8) infinite;
  animation: icon-spin 1s steps(8) infinite
}

@-webkit-keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }

  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn)
  }
}

@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }

  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn)
  }
}

.icon-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg)
}

.icon-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}

.icon-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg)
}

.icon-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1)
}

.icon-flip-vertical {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1)
}

.icon-flip-both, .icon-flip-horizontal.icon-flip-vertical, .icon-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)"
}

.icon-flip-both, .icon-flip-horizontal.icon-flip-vertical {
  -webkit-transform: scale(-1);
  transform: scale(-1)
}

:root .icon-flip-both, :root .icon-flip-horizontal, :root .icon-flip-vertical, :root .icon-rotate-90, :root .icon-rotate-180, :root .icon-rotate-270 {
  -webkit-filter: none;
  filter: none
}

.icon-stack {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  vertical-align: middle;
  width: 2.5em
}

.icon-stack-1x, .icon-stack-2x {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%
}

.icon-stack-1x {
  line-height: inherit
}

.icon-stack-2x {
  font-size: 2em
}

.icon-inverse {
  color: #fff
}


$icon-alert-caution: "\f157";
.icon-alert-caution:before {
  content: $icon-alert-caution
}

$icon-alert-important: "\f156";
.icon-alert-important:before {
  content: $icon-alert-important
}

$icon-alert-note: "\f155";
.icon-alert-note:before {
  content: $icon-alert-note
}

$icon-alert-tip: "\f154";
.icon-alert-tip:before {
  content: $icon-alert-tip
}

$icon-alert-warning: "\f153";
.icon-alert-warning:before {
  content: $icon-alert-warning
}

$icon-arrow-down: "\f152";
.icon-arrow-down:before {
  content: $icon-arrow-down
}

$icon-arrow-left: "\f151";
.icon-arrow-left:before {
  content: $icon-arrow-left
}

$icon-arrow-right: "\f150";
.icon-arrow-right:before {
  content: $icon-arrow-right
}

$icon-arrow-up: "\f14f";
.icon-arrow-up:before {
  content: $icon-arrow-up
}

$icon-barchart: "\f14e";
.icon-barchart:before {
  content: $icon-barchart
}

$icon-book: "\f14d";
.icon-book:before {
  content: $icon-book
}

$icon-boxplot: "\f14c";
.icon-boxplot:before {
  content: $icon-boxplot
}

$icon-chat-close: "\f14b";
.icon-chat-close:before {
  content: $icon-chat-close
}

$icon-chat-new: "\f14a";
.icon-chat-new:before {
  content: $icon-chat-new
}

$icon-chat-open: "\f149";
.icon-chat-open:before {
  content: $icon-chat-open
}

$icon-check: "\f148";
.icon-check:before {
  content: $icon-check
}

$icon-chevron-double-left: "\f147";
.icon-chevron-double-left:before {
  content: $icon-chevron-double-left
}

$icon-chevron-double-right: "\f146";
.icon-chevron-double-right:before {
  content: $icon-chevron-double-right
}

$icon-chevron-down: "\f145";
.icon-chevron-down:before {
  content: $icon-chevron-down
}

$icon-chevron-left: "\f144";
.icon-chevron-left:before {
  content: $icon-chevron-left
}

$icon-chevron-right: "\f143";
.icon-chevron-right:before {
  content: $icon-chevron-right
}

$icon-chevron-up: "\f142";
.icon-chevron-up:before {
  content: $icon-chevron-up
}

$icon-class-off: "\f141";
.icon-class-off:before {
  content: $icon-class-off
}

$icon-class-on: "\f140";
.icon-class-on:before {
  content: $icon-class-on
}

$icon-clock: "\f13f";
.icon-clock:before {
  content: $icon-clock
}

$icon-close: "\f13e";
.icon-close:before {
  content: $icon-close
}

$icon-code: "\f13d";
.icon-code:before {
  content: $icon-code
}

$icon-compile-circle: "\f13c";
.icon-compile-circle:before {
  content: $icon-compile-circle
}

$icon-copy: "\f13b";
.icon-copy:before {
  content: $icon-copy
}

$icon-darkmode: "\f13a";
.icon-darkmode:before {
  content: $icon-darkmode
}

$icon-download: "\f139";
.icon-download:before {
  content: $icon-download
}

$icon-edit: "\f138";
.icon-edit:before {
  content: $icon-edit
}

$icon-edrys: "\f137";
.icon-edrys:before {
  content: $icon-edrys
}

$icon-end-left: "\f136";
.icon-end-left:before {
  content: $icon-end-left
}

$icon-end-right: "\f135";
.icon-end-right:before {
  content: $icon-end-right
}

$icon-funnel: "\f134";
.icon-funnel:before {
  content: $icon-funnel
}

$icon-graph: "\f133";
.icon-graph:before {
  content: $icon-graph
}

$icon-grid: "\f132";
.icon-grid:before {
  content: $icon-grid
}

$icon-gundb: "\f131";
.icon-gundb:before {
  content: $icon-gundb
}

$icon-heatmap: "\f130";
.icon-heatmap:before {
  content: $icon-heatmap
}

$icon-hint: "\f12f";
.icon-hint:before {
  content: $icon-hint
}

$icon-info: "\f12e";
.icon-info:before {
  content: $icon-info
}

$icon-ipfs: "\f12d";
.icon-ipfs:before {
  content: $icon-ipfs
}

$icon-lightmode: "\f12c";
.icon-lightmode:before {
  content: $icon-lightmode
}

$icon-lineplot: "\f12b";
.icon-lineplot:before {
  content: $icon-lineplot
}

$icon-list-1: "\f12a";
.icon-list-1:before {
  content: $icon-list-1
}

$icon-list-2: "\f129";
.icon-list-2:before {
  content: $icon-list-2
}

$icon-list-3: "\f128";
.icon-list-3:before {
  content: $icon-list-3
}

$icon-login: "\f127";
.icon-login:before {
  content: $icon-login
}

$icon-mail: "\f126";
.icon-mail:before {
  content: $icon-mail
}

$icon-map: "\f125";
.icon-map:before {
  content: $icon-map
}

$icon-minus: "\f124";
.icon-minus:before {
  content: $icon-minus
}

$icon-more: "\f123";
.icon-more:before {
  content: $icon-more
}

$icon-mqtt: "\f122";
.icon-mqtt:before {
  content: $icon-mqtt
}

$icon-nostr: "\f121";
.icon-nostr:before {
  content: $icon-nostr
}

$icon-p2pt: "\f120";
.icon-p2pt:before {
  content: $icon-p2pt
}

$icon-parallel: "\f11f";
.icon-parallel:before {
  content: $icon-parallel
}

$icon-pause-circle: "\f11e";
.icon-pause-circle:before {
  content: $icon-pause-circle
}

$icon-pencil: "\f11d";
.icon-pencil:before {
  content: $icon-pencil
}

$icon-person: "\f11c";
.icon-person:before {
  content: $icon-person
}

$icon-piechart: "\f11b";
.icon-piechart:before {
  content: $icon-piechart
}

$icon-play-circle: "\f11a";
.icon-play-circle:before {
  content: $icon-play-circle
}

$icon-plus: "\f119";
.icon-plus:before {
  content: $icon-plus
}

$icon-presentation: "\f118";
.icon-presentation:before {
  content: $icon-presentation
}

$icon-pubnub: "\f117";
.icon-pubnub:before {
  content: $icon-pubnub
}

$icon-radar: "\f116";
.icon-radar:before {
  content: $icon-radar
}

$icon-refresh: "\f115";
.icon-refresh:before {
  content: $icon-refresh
}

$icon-resolve: "\f114";
.icon-resolve:before {
  content: $icon-resolve
}

$icon-sankey: "\f113";
.icon-sankey:before {
  content: $icon-sankey
}

$icon-scatterplot: "\f112";
.icon-scatterplot:before {
  content: $icon-scatterplot
}

$icon-search: "\f111";
.icon-search:before {
  content: $icon-search
}

$icon-send: "\f110";
.icon-send:before {
  content: $icon-send
}

$icon-settings: "\f10f";
.icon-settings:before {
  content: $icon-settings
}

$icon-slides: "\f10e";
.icon-slides:before {
  content: $icon-slides
}

$icon-social: "\f10d";
.icon-social:before {
  content: $icon-social
}

$icon-sort-asc: "\f10c";
.icon-sort-asc:before {
  content: $icon-sort-asc
}

$icon-sort-desc: "\f10b";
.icon-sort-desc:before {
  content: $icon-sort-desc
}

$icon-sound-off: "\f10a";
.icon-sound-off:before {
  content: $icon-sound-off
}

$icon-sound-on: "\f109";
.icon-sound-on:before {
  content: $icon-sound-on
}

$icon-stop-circle: "\f108";
.icon-stop-circle:before {
  content: $icon-stop-circle
}

$icon-table: "\f107";
.icon-table:before {
  content: $icon-table
}

$icon-torrent: "\f106";
.icon-torrent:before {
  content: $icon-torrent
}

$icon-trash: "\f105";
.icon-trash:before {
  content: $icon-trash
}

$icon-warning: "\f104";
.icon-warning:before {
  content: $icon-warning
}

$icon-websocket: "\f103";
.icon-websocket:before {
  content: $icon-websocket
}

$icon-zoom-out: "\f102";
.icon-zoom-out:before {
  content: $icon-zoom-out
}

$icon-zoom: "\f101";
.icon-zoom:before {
  content: $icon-zoom
}


@font-face {
  font-family: "icon";
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url(../../src/assets/fonts/icon/fonts/icon.eot);
  src: url(../../src/assets/fonts/icon/fonts/icon.eot?#iefix) format("embedded-opentype"),
  url(../../src/assets/fonts/icon/fonts/icon.woff2) format("woff2"),
  url(../../src/assets/fonts/icon/fonts/icon.woff) format("woff"),
  url(../../src/assets/fonts/icon/fonts/icon.ttf) format("truetype"),
  url(../../src/assets/fonts/icon/fonts/icon.svg#icon) format("svg");
  font-display: swap;
}

$font-icon: "icon";
.icon {
  font-family: $font-icon;
  font-weight: 900
}