@charset "UTF-8";

.icon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1
}

.icon-lg {
  font-size: 1.33333em;
  line-height: .75em;
  vertical-align: -.0667em
}

.icon-xs {
  font-size: .75em
}

.icon-sm {
  font-size: .875em
}

.icon-1x {
  font-size: 1em
}

.icon-2x {
  font-size: 2em
}

.icon-3x {
  font-size: 3em
}

.icon-4x {
  font-size: 4em
}

.icon-5x {
  font-size: 5em
}

.icon-6x {
  font-size: 6em
}

.icon-7x {
  font-size: 7em
}

.icon-8x {
  font-size: 8em
}

.icon-9x {
  font-size: 9em
}

.icon-10x {
  font-size: 10em
}

.icon-fw {
  text-align: center;
  width: 1.25em
}

.icon-ul {
  list-style-type: none;
  margin-left: 2.5em;
  padding-left: 0
}

.icon-ul>li {
  position: relative
}

.icon-li {
  left: -2em;
  position: absolute;
  text-align: center;
  width: 2em;
  line-height: inherit
}

.icon-border {
  border: .08em solid #eee;
  border-radius: .1em;
  padding: .2em .25em .15em
}

.icon-pull-left {
  float: left
}

.icon-pull-right {
  float: right
}

.icon.icon-pull-left {
  margin-right: .3em
}

.icon.icon-pull-right {
  margin-left: .3em
}

.icon-spin {
  -webkit-animation: icon-spin 2s linear infinite;
  animation: icon-spin 2s linear infinite
}

.icon-pulse {
  -webkit-animation: icon-spin 1s steps(8) infinite;
  animation: icon-spin 1s steps(8) infinite
}

@-webkit-keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }

  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn)
  }
}

@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }

  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn)
  }
}

.icon-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg)
}

.icon-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}

.icon-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg)
}

.icon-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1)
}

.icon-flip-vertical {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1)
}

.icon-flip-both, .icon-flip-horizontal.icon-flip-vertical, .icon-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)"
}

.icon-flip-both, .icon-flip-horizontal.icon-flip-vertical {
  -webkit-transform: scale(-1);
  transform: scale(-1)
}

:root .icon-flip-both, :root .icon-flip-horizontal, :root .icon-flip-vertical, :root .icon-rotate-90, :root .icon-rotate-180, :root .icon-rotate-270 {
  -webkit-filter: none;
  filter: none
}

.icon-stack {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  vertical-align: middle;
  width: 2.5em
}

.icon-stack-1x, .icon-stack-2x {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%
}

.icon-stack-1x {
  line-height: inherit
}

.icon-stack-2x {
  font-size: 2em
}

.icon-inverse {
  color: #fff
}


$icon-arrow-down: "\EA01";
.icon-arrow-down:before {
  content: $icon-arrow-down
}

$icon-arrow-left: "\EA02";
.icon-arrow-left:before {
  content: $icon-arrow-left
}

$icon-arrow-right: "\EA03";
.icon-arrow-right:before {
  content: $icon-arrow-right
}

$icon-arrow-up: "\EA04";
.icon-arrow-up:before {
  content: $icon-arrow-up
}

$icon-barchart: "\EA05";
.icon-barchart:before {
  content: $icon-barchart
}

$icon-book: "\EA06";
.icon-book:before {
  content: $icon-book
}

$icon-boxplot: "\EA07";
.icon-boxplot:before {
  content: $icon-boxplot
}

$icon-chat-close: "\EA08";
.icon-chat-close:before {
  content: $icon-chat-close
}

$icon-chat-new: "\EA09";
.icon-chat-new:before {
  content: $icon-chat-new
}

$icon-chat-open: "\EA0A";
.icon-chat-open:before {
  content: $icon-chat-open
}

$icon-check: "\EA0B";
.icon-check:before {
  content: $icon-check
}

$icon-chevron-double-left: "\EA0C";
.icon-chevron-double-left:before {
  content: $icon-chevron-double-left
}

$icon-chevron-double-right: "\EA0D";
.icon-chevron-double-right:before {
  content: $icon-chevron-double-right
}

$icon-chevron-down: "\EA0E";
.icon-chevron-down:before {
  content: $icon-chevron-down
}

$icon-chevron-left: "\EA0F";
.icon-chevron-left:before {
  content: $icon-chevron-left
}

$icon-chevron-right: "\EA10";
.icon-chevron-right:before {
  content: $icon-chevron-right
}

$icon-chevron-up: "\EA11";
.icon-chevron-up:before {
  content: $icon-chevron-up
}

$icon-class-off: "\EA12";
.icon-class-off:before {
  content: $icon-class-off
}

$icon-class-on: "\EA13";
.icon-class-on:before {
  content: $icon-class-on
}

$icon-clock: "\EA14";
.icon-clock:before {
  content: $icon-clock
}

$icon-close: "\EA15";
.icon-close:before {
  content: $icon-close
}

$icon-code: "\EA16";
.icon-code:before {
  content: $icon-code
}

$icon-compile-circle: "\EA17";
.icon-compile-circle:before {
  content: $icon-compile-circle
}

$icon-darkmode: "\EA18";
.icon-darkmode:before {
  content: $icon-darkmode
}

$icon-download: "\EA19";
.icon-download:before {
  content: $icon-download
}

$icon-edrys: "\EA1A";
.icon-edrys:before {
  content: $icon-edrys
}

$icon-end-left: "\EA1B";
.icon-end-left:before {
  content: $icon-end-left
}

$icon-end-right: "\EA1C";
.icon-end-right:before {
  content: $icon-end-right
}

$icon-funnel: "\EA1D";
.icon-funnel:before {
  content: $icon-funnel
}

$icon-graph: "\EA1E";
.icon-graph:before {
  content: $icon-graph
}

$icon-grid: "\EA1F";
.icon-grid:before {
  content: $icon-grid
}

$icon-gundb: "\EA20";
.icon-gundb:before {
  content: $icon-gundb
}

$icon-heatmap: "\EA21";
.icon-heatmap:before {
  content: $icon-heatmap
}

$icon-hint: "\EA22";
.icon-hint:before {
  content: $icon-hint
}

$icon-info: "\EA23";
.icon-info:before {
  content: $icon-info
}

$icon-jitsi: "\EA24";
.icon-jitsi:before {
  content: $icon-jitsi
}

$icon-lightmode: "\EA25";
.icon-lightmode:before {
  content: $icon-lightmode
}

$icon-lineplot: "\EA26";
.icon-lineplot:before {
  content: $icon-lineplot
}

$icon-list-1: "\EA27";
.icon-list-1:before {
  content: $icon-list-1
}

$icon-list-2: "\EA28";
.icon-list-2:before {
  content: $icon-list-2
}

$icon-list-3: "\EA29";
.icon-list-3:before {
  content: $icon-list-3
}

$icon-login: "\EA2A";
.icon-login:before {
  content: $icon-login
}

$icon-mail: "\EA2B";
.icon-mail:before {
  content: $icon-mail
}

$icon-map: "\EA2C";
.icon-map:before {
  content: $icon-map
}

$icon-matrix: "\EA2D";
.icon-matrix:before {
  content: $icon-matrix
}

$icon-minus: "\EA2E";
.icon-minus:before {
  content: $icon-minus
}

$icon-more: "\EA2F";
.icon-more:before {
  content: $icon-more
}

$icon-navigation-hide: "\EA30";
.icon-navigation-hide:before {
  content: $icon-navigation-hide
}

$icon-navigation-show: "\EA31";
.icon-navigation-show:before {
  content: $icon-navigation-show
}

$icon-parallel: "\EA32";
.icon-parallel:before {
  content: $icon-parallel
}

$icon-pencil: "\EA33";
.icon-pencil:before {
  content: $icon-pencil
}

$icon-person: "\EA34";
.icon-person:before {
  content: $icon-person
}

$icon-piechart: "\EA35";
.icon-piechart:before {
  content: $icon-piechart
}

$icon-play-circle: "\EA36";
.icon-play-circle:before {
  content: $icon-play-circle
}

$icon-plus: "\EA37";
.icon-plus:before {
  content: $icon-plus
}

$icon-presentation: "\EA38";
.icon-presentation:before {
  content: $icon-presentation
}

$icon-pubnub: "\EA39";
.icon-pubnub:before {
  content: $icon-pubnub
}

$icon-radar: "\EA3A";
.icon-radar:before {
  content: $icon-radar
}

$icon-refresh: "\EA3B";
.icon-refresh:before {
  content: $icon-refresh
}

$icon-resolve: "\EA3C";
.icon-resolve:before {
  content: $icon-resolve
}

$icon-sankey: "\EA3D";
.icon-sankey:before {
  content: $icon-sankey
}

$icon-scatterplot: "\EA3E";
.icon-scatterplot:before {
  content: $icon-scatterplot
}

$icon-search: "\EA3F";
.icon-search:before {
  content: $icon-search
}

$icon-send: "\EA40";
.icon-send:before {
  content: $icon-send
}

$icon-settings: "\EA41";
.icon-settings:before {
  content: $icon-settings
}

$icon-slides: "\EA42";
.icon-slides:before {
  content: $icon-slides
}

$icon-social: "\EA43";
.icon-social:before {
  content: $icon-social
}

$icon-sort-asc: "\EA44";
.icon-sort-asc:before {
  content: $icon-sort-asc
}

$icon-sort-desc: "\EA45";
.icon-sort-desc:before {
  content: $icon-sort-desc
}

$icon-sound-off: "\EA46";
.icon-sound-off:before {
  content: $icon-sound-off
}

$icon-sound-on: "\EA47";
.icon-sound-on:before {
  content: $icon-sound-on
}

$icon-stop-circle: "\EA48";
.icon-stop-circle:before {
  content: $icon-stop-circle
}

$icon-sync: "\EA49";
.icon-sync:before {
  content: $icon-sync
}

$icon-table: "\EA4A";
.icon-table:before {
  content: $icon-table
}

$icon-trash: "\EA4B";
.icon-trash:before {
  content: $icon-trash
}

$icon-warning: "\EA4C";
.icon-warning:before {
  content: $icon-warning
}

$icon-zoom-out: "\EA4D";
.icon-zoom-out:before {
  content: $icon-zoom-out
}

$icon-zoom: "\EA4E";
.icon-zoom:before {
  content: $icon-zoom
}


@font-face {
  font-family: "icon";
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url(../../src/assets/fonts/icon/fonts/icon.eot);
  src: url(../../src/assets/fonts/icon/fonts/icon.eot?#iefix) format("embedded-opentype"),
  url(../../src/assets/fonts/icon/fonts/icon.woff2) format("woff2"),
  url(../../src/assets/fonts/icon/fonts/icon.woff) format("woff"),
  url(../../src/assets/fonts/icon/fonts/icon.ttf) format("truetype"),
  url(../../src/assets/fonts/icon/fonts/icon.svg#icon) format("svg");
  font-display: swap;
}

$font-icon: "icon";
.icon {
  font-family: $font-icon;
  font-weight: 900
}