@charset "UTF-8";

.icon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1
}

.icon-lg {
  font-size: 1.33333em;
  line-height: .75em;
  vertical-align: -.0667em
}

.icon-xs {
  font-size: .75em
}

.icon-sm {
  font-size: .875em
}

.icon-1x {
  font-size: 1em
}

.icon-2x {
  font-size: 2em
}

.icon-3x {
  font-size: 3em
}

.icon-4x {
  font-size: 4em
}

.icon-5x {
  font-size: 5em
}

.icon-6x {
  font-size: 6em
}

.icon-7x {
  font-size: 7em
}

.icon-8x {
  font-size: 8em
}

.icon-9x {
  font-size: 9em
}

.icon-10x {
  font-size: 10em
}

.icon-fw {
  text-align: center;
  width: 1.25em
}

.icon-ul {
  list-style-type: none;
  margin-left: 2.5em;
  padding-left: 0
}

.icon-ul>li {
  position: relative
}

.icon-li {
  left: -2em;
  position: absolute;
  text-align: center;
  width: 2em;
  line-height: inherit
}

.icon-border {
  border: .08em solid #eee;
  border-radius: .1em;
  padding: .2em .25em .15em
}

.icon-pull-left {
  float: left
}

.icon-pull-right {
  float: right
}

.icon.icon-pull-left {
  margin-right: .3em
}

.icon.icon-pull-right {
  margin-left: .3em
}

.icon-spin {
  -webkit-animation: icon-spin 2s linear infinite;
  animation: icon-spin 2s linear infinite
}

.icon-pulse {
  -webkit-animation: icon-spin 1s steps(8) infinite;
  animation: icon-spin 1s steps(8) infinite
}

@-webkit-keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }

  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn)
  }
}

@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }

  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn)
  }
}

.icon-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg)
}

.icon-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg)
}

.icon-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg)
}

.icon-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1)
}

.icon-flip-vertical {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1)
}

.icon-flip-both, .icon-flip-horizontal.icon-flip-vertical, .icon-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)"
}

.icon-flip-both, .icon-flip-horizontal.icon-flip-vertical {
  -webkit-transform: scale(-1);
  transform: scale(-1)
}

:root .icon-flip-both, :root .icon-flip-horizontal, :root .icon-flip-vertical, :root .icon-rotate-90, :root .icon-rotate-180, :root .icon-rotate-270 {
  -webkit-filter: none;
  filter: none
}

.icon-stack {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  vertical-align: middle;
  width: 2.5em
}

.icon-stack-1x, .icon-stack-2x {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%
}

.icon-stack-1x {
  line-height: inherit
}

.icon-stack-2x {
  font-size: 2em
}

.icon-inverse {
  color: #fff
}


.icon-alert-caution:before {
  content: "\f157"
}

.icon-alert-important:before {
  content: "\f156"
}

.icon-alert-note:before {
  content: "\f155"
}

.icon-alert-tip:before {
  content: "\f154"
}

.icon-alert-warning:before {
  content: "\f153"
}

.icon-arrow-down:before {
  content: "\f152"
}

.icon-arrow-left:before {
  content: "\f151"
}

.icon-arrow-right:before {
  content: "\f150"
}

.icon-arrow-up:before {
  content: "\f14f"
}

.icon-barchart:before {
  content: "\f14e"
}

.icon-book:before {
  content: "\f14d"
}

.icon-boxplot:before {
  content: "\f14c"
}

.icon-chat-close:before {
  content: "\f14b"
}

.icon-chat-new:before {
  content: "\f14a"
}

.icon-chat-open:before {
  content: "\f149"
}

.icon-check:before {
  content: "\f148"
}

.icon-chevron-double-left:before {
  content: "\f147"
}

.icon-chevron-double-right:before {
  content: "\f146"
}

.icon-chevron-down:before {
  content: "\f145"
}

.icon-chevron-left:before {
  content: "\f144"
}

.icon-chevron-right:before {
  content: "\f143"
}

.icon-chevron-up:before {
  content: "\f142"
}

.icon-class-off:before {
  content: "\f141"
}

.icon-class-on:before {
  content: "\f140"
}

.icon-clock:before {
  content: "\f13f"
}

.icon-close:before {
  content: "\f13e"
}

.icon-code:before {
  content: "\f13d"
}

.icon-compile-circle:before {
  content: "\f13c"
}

.icon-copy:before {
  content: "\f13b"
}

.icon-darkmode:before {
  content: "\f13a"
}

.icon-download:before {
  content: "\f139"
}

.icon-edit:before {
  content: "\f138"
}

.icon-edrys:before {
  content: "\f137"
}

.icon-end-left:before {
  content: "\f136"
}

.icon-end-right:before {
  content: "\f135"
}

.icon-funnel:before {
  content: "\f134"
}

.icon-graph:before {
  content: "\f133"
}

.icon-grid:before {
  content: "\f132"
}

.icon-gundb:before {
  content: "\f131"
}

.icon-heatmap:before {
  content: "\f130"
}

.icon-hint:before {
  content: "\f12f"
}

.icon-info:before {
  content: "\f12e"
}

.icon-ipfs:before {
  content: "\f12d"
}

.icon-lightmode:before {
  content: "\f12c"
}

.icon-lineplot:before {
  content: "\f12b"
}

.icon-list-1:before {
  content: "\f12a"
}

.icon-list-2:before {
  content: "\f129"
}

.icon-list-3:before {
  content: "\f128"
}

.icon-login:before {
  content: "\f127"
}

.icon-mail:before {
  content: "\f126"
}

.icon-map:before {
  content: "\f125"
}

.icon-minus:before {
  content: "\f124"
}

.icon-more:before {
  content: "\f123"
}

.icon-mqtt:before {
  content: "\f122"
}

.icon-nostr:before {
  content: "\f121"
}

.icon-p2pt:before {
  content: "\f120"
}

.icon-parallel:before {
  content: "\f11f"
}

.icon-pause-circle:before {
  content: "\f11e"
}

.icon-pencil:before {
  content: "\f11d"
}

.icon-person:before {
  content: "\f11c"
}

.icon-piechart:before {
  content: "\f11b"
}

.icon-play-circle:before {
  content: "\f11a"
}

.icon-plus:before {
  content: "\f119"
}

.icon-presentation:before {
  content: "\f118"
}

.icon-pubnub:before {
  content: "\f117"
}

.icon-radar:before {
  content: "\f116"
}

.icon-refresh:before {
  content: "\f115"
}

.icon-resolve:before {
  content: "\f114"
}

.icon-sankey:before {
  content: "\f113"
}

.icon-scatterplot:before {
  content: "\f112"
}

.icon-search:before {
  content: "\f111"
}

.icon-send:before {
  content: "\f110"
}

.icon-settings:before {
  content: "\f10f"
}

.icon-slides:before {
  content: "\f10e"
}

.icon-social:before {
  content: "\f10d"
}

.icon-sort-asc:before {
  content: "\f10c"
}

.icon-sort-desc:before {
  content: "\f10b"
}

.icon-sound-off:before {
  content: "\f10a"
}

.icon-sound-on:before {
  content: "\f109"
}

.icon-stop-circle:before {
  content: "\f108"
}

.icon-table:before {
  content: "\f107"
}

.icon-torrent:before {
  content: "\f106"
}

.icon-trash:before {
  content: "\f105"
}

.icon-warning:before {
  content: "\f104"
}

.icon-websocket:before {
  content: "\f103"
}

.icon-zoom-out:before {
  content: "\f102"
}

.icon-zoom:before {
  content: "\f101"
}


@font-face {
  font-family: "icon";
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url(../../src/assets/fonts/icon/fonts/icon.eot);
  src: url(../../src/assets/fonts/icon/fonts/icon.eot?#iefix) format("embedded-opentype"),
  url(../../src/assets/fonts/icon/fonts/icon.woff2) format("woff2"),
  url(../../src/assets/fonts/icon/fonts/icon.woff) format("woff"),
  url(../../src/assets/fonts/icon/fonts/icon.ttf) format("truetype"),
  url(../../src/assets/fonts/icon/fonts/icon.svg#icon) format("svg");
  font-display: swap;
}

.icon {
  font-family: "icon";
  font-weight: 900
}