$global-colors: (
  'anthracite': '75,75,75',
  'blue-darker': '0,7,11',
  'blue-dark': '12,120,171',
  'blue': '3,124,194',
  'grey-dark': '50,50,50',
  'grey-light': '240,240,240',
  'grey-lighter': '249,249,249',
  'grey': '174,174,174',
  'red-darker': '23,0,0',
  'red-dark': '185,75,60',
  'red': '224,52,13',
  'success': '140,201,111',
  'turquoise-darker': '2,7,9',
  'turquoise-dark': '43,131,129',
  'turquoise': '25,131,140',
  'warning': '244,195,67',
  'white': '255,255,255',
  'yellow-darker': '12,5,1',
  'yellow-dark': '139,75,17',
  'yellow': '172,102,22',
  'black': '0,0,0',
);
