/* source-sans-pro regular */
@font-face {
  font-family: "LiaSourceSansPro";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/source-sans-pro/source-sans-pro-v14-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../assets/fonts/source-sans-pro/source-sans-pro-v14-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../assets/fonts/source-sans-pro/source-sans-pro-v14-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../assets/fonts/source-sans-pro/source-sans-pro-v14-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("../assets/fonts/source-sans-pro/source-sans-pro-v14-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/source-sans-pro/source-sans-pro-v14-latin-regular.svg#SourceSansPro")
      format("svg"); /* Legacy iOS */
}

/* source-sans-pro semibold */
@font-face {
  font-family: "LiaSourceSansPro";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/source-sans-pro/source-sans-pro-v14-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../assets/fonts/source-sans-pro/source-sans-pro-v14-latin-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../assets/fonts/source-sans-pro/source-sans-pro-v14-latin-600.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../assets/fonts/source-sans-pro/source-sans-pro-v14-latin-600.woff")
      format("woff"),
    /* Modern Browsers */
      url("../assets/fonts/source-sans-pro/source-sans-pro-v14-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/source-sans-pro/source-sans-pro-v14-latin-600.svg#SourceSansPro")
      format("svg"); /* Legacy iOS */
}

/* source-sans-pro bold */
@font-face {
  font-family: "LiaSourceSansPro";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/source-sans-pro/source-sans-pro-v14-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../assets/fonts/source-sans-pro/source-sans-pro-v14-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../assets/fonts/source-sans-pro/source-sans-pro-v14-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../assets/fonts/source-sans-pro/source-sans-pro-v14-latin-700.woff")
      format("woff"),
    /* Modern Browsers */
      url("../assets/fonts/source-sans-pro/source-sans-pro-v14-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/source-sans-pro/source-sans-pro-v14-latin-700.svg#SourceSansPro")
      format("svg"); /* Legacy iOS */
}

/* source-serif-pro semibold */
@font-face {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/source-serif-pro/source-serif-pro-v10-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../assets/fonts/source-serif-pro/source-serif-pro-v10-latin-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../assets/fonts/source-serif-pro/source-serif-pro-v10-latin-600.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../assets/fonts/source-serif-pro/source-serif-pro-v10-latin-600.woff")
      format("woff"),
    /* Modern Browsers */
      url("../assets/fonts/source-serif-pro/source-serif-pro-v10-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/source-serif-pro/source-serif-pro-v10-latin-600.svg#SourceSerifPro")
      format("svg"); /* Legacy iOS */
}

/* source-serif-pro bold */
@font-face {
  font-family: "Source Serif Pro";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/source-serif-pro/source-serif-pro-v10-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../assets/fonts/source-serif-pro/source-serif-pro-v10-latin-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../assets/fonts/source-serif-pro/source-serif-pro-v10-latin-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../assets/fonts/source-serif-pro/source-serif-pro-v10-latin-700.woff")
      format("woff"),
    /* Modern Browsers */
      url("../assets/fonts/source-serif-pro/source-serif-pro-v10-latin-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/source-serif-pro/source-serif-pro-v10-latin-700.svg#SourceSerifPro")
      format("svg"); /* Legacy iOS */
}

/* source-code-pro regular */
@font-face {
  font-family: "LiaSourceCodePro";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/source-code-pro/source-code-pro-v13-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../assets/fonts/source-code-pro/source-code-pro-v13-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../assets/fonts/source-code-pro/source-code-pro-v13-latin-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../assets/fonts/source-code-pro/source-code-pro-v13-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("../assets/fonts/source-code-pro/source-code-pro-v13-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/source-code-pro/source-code-pro-v13-latin-regular.svg#SourceCodePro")
      format("svg"); /* Legacy iOS */
}

/* source-code-pro bold */
@font-face {
  font-family: "LiaSourceCodePro";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/source-code-pro/source-code-pro-v13-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../assets/fonts/source-code-pro/source-code-pro-v13-latin-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("../assets/fonts/source-code-pro/source-code-pro-v13-latin-600.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("../assets/fonts/source-code-pro/source-code-pro-v13-latin-600.woff")
      format("woff"),
    /* Modern Browsers */
      url("../assets/fonts/source-code-pro/source-code-pro-v13-latin-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../assets/fonts/source-code-pro/source-code-pro-v13-latin-600.svg#SourceCodePro")
      format("svg"); /* Legacy iOS */
}
