$global-colors: (
  'anthracite': '75,75,75',
  'blue-darker': '0,72,113',
  'blue-dark': '3,81,112',
  'blue': '10,100,136',
  'grey-dark': '50,50,50',
  'grey-light': '240,240,240',
  'grey-lighter': '249,249,249',
  'grey': '174,174,174',
  'red-darker': '104,0,0',
  'red-dark': '155,27,9',
  'red': '191,44,26',
  'success': '140,201,111',
  'turquoise-darker': '15,54,69',
  'turquoise-dark': '16,116,117',
  'turquoise': '20,115,117',
  'warning': '244,195,67',
  'white': '255,255,255',
  'yellow-darker': '124,60,0',
  'yellow-dark': '132,80,5',
  'yellow': '134,95,7',
  'black': '0,0,0',
);
