/* --------------------------------------------------
   Layout Settings
   -------------------------------------------------- */

$toc-width: 315px !default;
$support-width: 315px !default;

/* --------------------------------------------------
   Canvas
   -------------------------------------------------- */   
.lia-canvas {
  display: flex;
  height: 100vh;
  left: 0;
  position: relative;
  transition: $global-transition;
  width: 100vw;
  overflow-x: hidden;

  &.lia-toc--visible {
    left: $toc-width;
    width: calc(100% - #{$toc-width});
  }

  &.lia-support--visible {
    right: $support-width;
    width: calc(100% - #{$support-width});
  }

  @include breakpoint("m", "max") {
    &.lia-toc--visible.lia-support--visible {
      width: calc(100% - #{$toc-width} - #{$support-width});
    }
  }
}
