@keyframes spin {
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

.spin {
  animation: spin;
}

@keyframes show-comment {
  $left: map-get($global-spacing, spacing-huge) +
    map-get($global-spacing, toc-width);
  $right: map-get($global-spacing, spacing-huge);

  from {
    left: calc(100% + #{$left});
    right: calc(#{$right} - 100%);
  }
  to {
    left: $left;
    right: $right;
  }
}

.show-comment {
  animation: show-comment;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadein 2s;
}
