/* --------------------------------------------------
   Headline Settings
   -------------------------------------------------- */

/*
 * TODO: h1 für Darstellungsmodi (Presentation, Slides, Textbook) anpassen  
 */
$h1-desktop-presentation: 4rem;
$h1-desktop-slide: 4rem;
$h1-desktop-textbook: 3.7rem;
$h1-mobile: 2.3rem;

$h2-desktop: 2.9rem;
$h2-mobile: 2rem;

$h3-desktop: 2.3rem;
$h3-mobile: 1.8rem;

$h4-desktop: 1.6rem;
$h4-mobile: 1.6rem;

/* --------------------------------------------------
   Headlines
   -------------------------------------------------- */

h1,
h2,
h3 {
  font-family: $global-font-headline;
  line-height: normal;
}

h4 {
  font-family: $global-font-text;
  line-height: 1.38;
}

h1,
.u-h1 {
  font-size: $h1-mobile;

  @include breakpoint("m") {
    font-size: $h1-desktop-presentation;
  }
}

h2,
.u-h2 {
  font-size: $h2-mobile;

  @include breakpoint("m") {
    font-size: $h2-desktop;
  }
}

h3,
.u-h3 {
  font-size: $h3-mobile;

  @include breakpoint("m") {
    font-size: $h3-desktop;
  }
}

h4,
.u-h4 {
  font-size: $h4-mobile;

  @include breakpoint("m") {
    font-size: $h4-desktop;
  }
}
