.lia-code {
  $vert: map-get($global-spacing, spacing-smaller);
  $horiz: map-get($global-spacing, spacing-small);

  font-family: $global-font-mono;
  border-bottom-left-radius: map-get($global-spacing, spacing-small);
  border-bottom-right-radius: map-get($global-spacing, spacing-small);
  padding: $vert $horiz;
  font-size: map-get($global-spacing, code-size);
  overflow-x: auto;
  margin: 0px;
  white-space: pre-wrap;
  text-justify: none;

  &:not(.lia-inline) {
    font-family: $global-font-mono;
    padding: map-get($global-spacing, spacing-normal);
    font-size: map-get($global-spacing, code-size);
    overflow-x: auto;
  }

  &-stdout {
    font-family: $global-font-mono;
    padding: map-get($global-spacing, spacing-normal);
    margin-top: 0px;
    font-size: map-get($global-spacing, code-size);
    overflow-y: auto;
    max-height: 250px;
    border-radius: map-get($global-spacing, spacing-small);
    word-wrap: normal;
    word-break: keep-all;
    white-space: pre-wrap;
  }
}

@mixin style-code($theme) {
  .lia-code {
    $bg: mix(map-get($theme, background), map-get($theme, primary), 80%);
    $fg: mix(map-get($theme, text), map-get($theme, background), 80%);
    $fg-inv: mix(map-get($theme, text-inv), map-get($theme, background), 80%);
    background: $bg;
    color: color-contrast($bg, $fg, $fg-inv);

    &:not(.lia-inline) {
      $bg: mix(
        map-get($theme, background),
        map-get($theme, background-inv),
        95%
      );
      background: $bg;
    }

    &-stdout {
      background: #111;
      color: #eee;
    }
  }
}
