.lia-btn {
  $vert: map-get($global-spacing, spacing-small);
  $marg: map-get($global-spacing, spacing-normal);

  padding: $vert 0;
  margin: $marg;
  border: none;
  border-radius: map-get($global-spacing, spacing-smaller);
  outline: none;
  position: relative;
  overflow: hidden;
  transition: background 0.25s ease-in 0s;
  padding: 0 map-get($global-spacing, spacing-normal);
  line-height: 2em;

  &:not([disabled]) {
    &:hover {
      cursor: pointer;
    }
  }

  &--hint {
    @include material-icon;
    text-decoration: none;
    vertical-align: middle;
  }

  .lia-ripple {
    position: absolute;
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 0;
    opacity: 0;
    transition-property: width, height, margin, opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
  }
}

@mixin style-btn($theme) {
  .lia-btn {
    $bg: map-get($theme, primary);
    $fg: color-contrast($bg);

    &:not([disabled]) {
      background: $bg;
      color: $fg;
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
        0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

      &:hover {
        background: mix($bg, $fg, 80%);
      }
    }

    &--hint {
      color: map-get($theme, text);
    }

    &[disabled] {
      $fg: color-contrast(map-get($theme, background));

      background: rgba($fg, 0.12);
      color: rgba($fg, 0.38);
    }

    &:active {
      box-shadow: -1px -1px 1px #fff;
    }

    .lia-ripple {
      background: $fg;
    }

    &.lia-selected {
      box-shadow: -1px -1px 1px #000;
    }

    &.lia-success {
      $bg: map-get($theme, success);
      $fg: color-contrast($bg);

      background: $bg;
      color: $fg;

      &:hover {
        background: mix($bg, $fg, 80%);
      }

      .lia-ripple {
        background: $fg;
      }
    }

    &.lia-warning {
      $bg: map-get($theme, warning);
      $fg: color-contrast($bg);

      background: $bg;
      color: $fg;

      &:hover {
        background: mix($bg, $fg, 80%);
      }

      .lia-ripple {
        background: $fg;
      }
    }

    &.lia-failure {
      $bg: map-get($theme, error);
      $fg: color-contrast($bg);

      background: $bg;
      color: $fg;

      &:hover {
        background: mix($bg, $fg, 80%);
      }

      .lia-ripple {
        background: $fg;
      }
    }
  }
}
