.lia-label {
  $vert: map-get($global-spacing, spacing-small);
  $marg: map-get($global-spacing, spacing-normal);

  padding: $vert 0;
  margin: $marg;
}

.lia-labeled {
  @include flex(row, nowrap, flex-start, center, flex-start);
  margin-right: map-get($global-spacing, spacing-normal);

  & :first-child {
    margin-right: 0;
  }
}
