
.lia-h1 {
  font-size: 200%;
  font-weight: 500;
}

.lia-h2 {
  font-size: 175%;
  font-weight: 500;
}

.lia-h3 {
  font-size: 150%;
  font-weight: 500;
}

.lia-h4 {
  font-size: 125%;
  font-weight: 500;
}

.lia-h5 {
  font-size: 110%;
  font-weight: 500;
}

.lia-h6 {
  font-size: 105%;
  font-weight: 500;
}

