.lia-textarea {
  border: none;
  outline: none;
  transition: border-bottom-color 0.5s ease-out 0s;

  &:not([disabled]) {
    border-bottom: 1.5px solid;
  }

  &[disabled] {
    border-bottom: 1.5px dotted;
  }
}

@mixin style-textarea($theme) {
  .lia-textarea {
    $bg: map-get($theme, background);
    $fg: color-contrast($bg);

    background: $bg;

    &:not([disabled]) {
      color: $fg;
      border-bottom-color: mix($bg, $fg, 50%);
    }

    &[disabled] {
      color: rgba($fg, 0.38);
      border-bottom-color: mix($bg, $fg, 50%);
    }

    &:focus {
      border-bottom-color: map-get($theme, primary);
    }
  }
}
