.lia-btn {
  border: none;
  display: inline-block;
  line-height: $global-line-height;
  padding: 0.5rem 1rem;

  &--rounded {
    border-radius: $global-radius;
  }

  &--outline {
    background-color: transparent;
  }

  &--hint {
    @include material-icon;
    text-decoration: none;
    vertical-align: middle;
  }

/*   .lia-ripple {
    position: absolute;
    display: block;
    border-radius: 50%;‚
    width: 0;
    height: 0;
    margin: 0;
    opacity: 0;
    transition-property: width, height, margin, opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
  } */
}

@mixin style-btn($theme) {
  .lia-btn {
    $bg: map-get($theme, primary);
    $fg: color-contrast($bg);

    &:not([disabled]) {
      background: $bg;
      color: $fg;

      &:hover {
        background: mix($bg, $fg, 80%);
      }
    }

    &--hint {
      color: map-get($theme, text);
    }

    &[disabled] {
      $fg: color-contrast(map-get($theme, background));

      background: rgba($fg, 0.12);
      color: rgba($fg, 0.38);
    }
  }
}
