@mixin quote($theme) {
  .lia-quote {
    $info: map-get($theme, primary);
    $bg: mix(map-get($theme, background), $info, 90%);
    //$bg: map-get($theme, theme);
    $fg: color-contrast($bg);

    border-left: map-get($global-spacing, spacing-normal) solid $info;
    background: $bg;
    color: $fg;
    margin: map-get($global-spacing, spacing-huge) map-get($global-spacing, spacing-normal);
    padding: map-get($global-spacing, spacing-large);

    //todo add shadow with changeing colors according to dark and light...
    border-radius: 5px;
    box-shadow: 8px 7px 0px mix($fg, $bg, 20%);
    //display: inline-block;
  }
}