/* --------------------------------------------------
   Dump for all CSS that has no particular function
   or meaning. Should be either refactored or trashed.
   -------------------------------------------------- */

.lia-svg {
  $horiz: map-get($global-spacing, spacing-normal);
  padding-left: $horiz;
  padding-right: $horiz;
  overflow: auto;
}
