// Settings
@use '00_settings/settings.colors';
@use '00_settings/settings.fonts' as settings2;
@use '00_settings/settings.global' as settings3;
@use '00_settings/settings.iconfont' as settings4;
@use '00_settings/settings.typography' as settings5;

// Tools
@use '01_tools/tools.color';
@use '01_tools/tools.px-em-calc' as tools2;
@use '01_tools/tools.breakpoints' as tools3;
@use '01_tools/tools.flex' as tools4;
@use '01_tools/tools.font-size' as tools5;
@use '01_tools/tools.hidden-visually' as tools6;
@use '01_tools/tools.str-replace' as tools7;
@use '01_tools/tools.transition' as tools8;
@use '01_tools/tools.animation' as tools9;

// Generic
@use '02_generic/generic.reset';
@use '02_generic/generic.normalize' as generic2;
@use '02_generic/generic.shared' as generic3;

// Elements
@use '03_elements/elements.button';
@use '03_elements/elements.code' as elements2;
@use '03_elements/elements.headline' as elements3;
@use '03_elements/elements.hr' as elements4;
@use '03_elements/elements.input' as elements5;
@use '03_elements/elements.label' as elements6;
@use '03_elements/elements.link' as elements7;
@use '03_elements/elements.list' as elements8;
@use '03_elements/elements.media' as elements9;
@use '03_elements/elements.page' as elements10;
@use '03_elements/elements.select' as elements11;
@use '03_elements/elements.table' as elements12;
@use '03_elements/elements.text' as elements13;
@use '03_elements/elements.textarea' as elements14;

// Objects
@use '04_objects/objects.animations';
@use '04_objects/object.canvas';
@use '04_objects/objects.preview-grid' as objects2;

// Components
@use '05_components/components.accordion';
@use '05_components/components.card' as components2;
@use '05_components/components.dropdown' as components3;
@use '05_components/components.effect' as components4;
@use '05_components/components.fontscale' as components5;
@use '05_components/components.gallery' as components6;
@use '05_components/components.google-translate' as components7;
@use '05_components/components.header' as components8;
@use '05_components/components.lightbox' as components9;
@use '05_components/components.modal' as components10;
@use '05_components/components.nav' as components11;
@use '05_components/components.notes' as components12;
@use '05_components/components.pagination' as components13;
@use '05_components/components.quiz' as components14;
@use '05_components/components.quote' as components15;
@use '05_components/components.responsive-voice' as components16;
@use '05_components/components.script' as components17;
@use '05_components/components.slide-animation' as components18;
@use '05_components/components.slide' as components19;
@use '05_components/components.support-menu' as components20;
@use '05_components/components.survey-matrix' as components21;
@use '05_components/components.toc' as components22;
@use '05_components/components.tooltip' as components23;

// Utilities
@use '06_utilities/utilities.alignment';
@use '06_utilities/utilities.clearfix' as utilities2;
@use '06_utilities/utilities.colors' as utilities3;
@use '06_utilities/utilities.display' as utilities4;
@use '06_utilities/utilities.flex' as utilities5;
@use '06_utilities/utilities.headless' as utilities6;
@use '06_utilities/utilities.headline' as utilities7;
@use '06_utilities/utilities.hidden' as utilities8;
@use '06_utilities/utilities.spacings' as utilities9;
@use '06_utilities/utilities.text' as utilities10;
@use '06_utilities/utilities.width' as utilities11;

// Dump
@use 'dump.scss';

/**
 * Used to hide elements on printing
 */

.lia-print-only {
  display: none;
}


/*
.lia-print-only {
    display: inline-block !important;
    position: absolute;
    z-index: 1000;
    padding: 1rem;
    background-color: white;
}
*/

.lia-print-only::before {
    content: "↪︎ ";
}

.lia-slide {
    height: unset !important;
}

.lia-toc,
.lia-support-menu--open,
.lia-slide__footer,
.lia-quiz__control,
.lia-code-control,
.lia-plot__switch,
.lia-table__sort,
.lia-code__min-max,
#lia-toolbar-nav {
    display: none !important;
    width: 0 !important;
}

main,
.lia-canvas,
.lia-slide {
    width: unset !important;
    height: unset !important;
    overflow: hidden !important;
    margin-top: unset !important;
}

.lia-code-terminal__output {
    height: fit-content !important;
    max-height: 600px !important;
}

table,
ul,
ol,
figure,
blockquote,
.lia-quiz,
.lia-code-terminal__output {
    break-inside: avoid;
}

.lia-gallery {
    flex-flow: wrap;
}

.lia-lightbox__icon {
    display: none;
}

.lia-table-responsive {
    max-height: fit-content !important;
}

.ace_gutter-active-line {
    background-color: unset !important;
}

.ace_hidden-cursors {
    opacity: 0;
}

.ace_text-input {
    break-inside: auto !important;
    orphans: 3;
    widows: 3;
}

label {
    page-break-after: avoid;
}

.lia-accordion__toggle {
    visibility: hidden;
    width: 5px !important;
}

.lia-effect__circle {
    display: none;
}

.lia-code-terminal__input {
    display: none;
}

.lia-code-terminal__output {
    white-space: pre-wrap;
}

.lia-accordion__item {
    break-inside: avoid;
    orphans: 3;
    widows: 3;
}

.ace_editor {
    max-height: none !important;
    height: none !important;
    min-height: unset !important;
    break-inside: auto !important;
    orphans: 3;
    widows: 3;
}

span {

    &.lia-effect--inline,
    &.hide {
        display: inline-block !important;
    }
}

main {
    orphans: 3;
    widows: 3;
}