@mixin _new-theme($theme, $theme-name) {
  &.lia-theme-#{"" + $theme-name} {
    $bg: map-get($theme, background);
    $fg: color-contrast($bg);

    background: $bg;
    color: $fg;

    // elements
    @include style-btn($theme);
    @include style-card($theme);
    @include style-input($theme);
    @include style-code($theme);
    @include style-link($theme);
    @include style-select($theme);
    @include style-textarea($theme);

    // components
    @include style-accordion($theme);
    @include style-dropdown($theme);
    @include style-effect-circle($theme);
    @include style-header($theme);
    @include style-quote($theme);
    @include style-script($theme);
    @include style-table($theme);
    @include style-toc($theme);
  }
}

@mixin create-theme($theme, $theme-name) {
  $dark: (
    text: map-get($theme, text-inv),
    text-inv: map-get($theme, text),
    background: map-get($theme, background-inv),
    background-inv: map-get($theme, background),
    primary: map-get($theme, primary),
    secondary: map-get($theme, secondary),
    success: map-get($theme, success),
    info: map-get($theme, info),
    warning: map-get($theme, warning),
    error: map-get($theme, error),
    highlight-weight: map-get($theme, highlight-weight),
  );

  .lia-variant-light {
    @include _new-theme($theme, $theme-name);
  }

  .lia-variant-dark {
    @include _new-theme($dark, $theme-name);
  }

  .lia-icon {
    @include material-icon("", inherit);

    &.rotating {
      animation: spin 1s linear infinite;
    }
  }
}

@import "_themes/default";
@import "_themes/amber";
@import "_themes/green";
@import "_themes/purple";
@import "_themes/grey";
@import "_themes/blue";
@import "_themes/turquoise";
@import "_themes/red";
@import "_themes/yellow";
