address,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
p,
pre,
dl,
ol,
ul,
figure,
fieldset {
  margin-bottom: map-get($global-spacing, spacing-normal);
}

:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(var(--color-highlight), 0.15) !important;
}

.lia-btn,
.lia-input,
.lia-select select,
.lia-textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  align-items: center;
  border-radius: $global-radius;
  border: 1px solid transparent;
  box-shadow: none;
  display: inline-flex;
  justify-content: flex-start;
  padding: 0.7rem;
  position: relative;
  vertical-align: top;
}
