/* --------------------------------------------------
   Breakpoint Settings
   -------------------------------------------------- */

// min or max
$media-direction: min; // min / max — default is min (mobile first)

// Breakpoints
$breakpoints: (
  "default": "",
  "xs": 480px,
  "s": 768px,
  "m": 1024px,
  "l": 1440px,
  "xl": 1680px,
);

/* --------------------------------------------------
   Breakpoint Mixin
   -------------------------------------------------- */

// anstelle von 'xs', 's', 'm', 'l', 'xl' kann man auch einfach einen Wert eintragen (für spezielle Anwendungen)
@mixin breakpoint($breakpoint, $direction: $media-direction) {
  // Check ob Wert in Sass Map vorhanden
  @if map-has-key($breakpoints, $breakpoint) {
    // Ausgabe
    @media (#{$direction}-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }

  // Prüfung der Einheit falls Wert eingegeben wurde. Fallback: px.
  @else if unitless($breakpoint) {
    $breakpoint: $breakpoint + 0px;

    // Ausgabe
    @media (#{$direction}-width: $breakpoint) {
      @content;
    }
  }
}
